<div class="body table-responsive" [ngBusy]="{
    busy: busyGet,
    message: 'Veuillez patienter ...',
    backdrop: false
  }">
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th colspan="14">
          <div class="row mt-4">
            <div class="col-md-3 col-xs-12 col-sm-12">
              <label>Filiale/cédante : </label>

              <ng-select [(ngModel)]="itemToSearch.cedenteId" (change)="currentPage = 1; getItems()"
                [readonly]="user?.cedId" id="cedenteId">
                <ng-option *ngFor="let cedente of listeCedente" [value]="cedente?.cedId">{{ cedente.cedNomFiliale
                  }}</ng-option>
              </ng-select>
            </div>

            <div class="col-md-3 col-xs-12 col-sm-12">
              <label>Exercice : </label>

              <ng-select [(ngModel)]="itemToSearch.exeCode" (change)="currentPage = 1; getItems()" id="exeCode">
                <ng-option *ngFor="let exercice of listeExercices" [value]="exercice?.exeCode">{{ exercice.exeLibelle
                  }}</ng-option>
              </ng-select>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-12">
              <label>Rechercher par mot clé: </label>
              <input [(ngModel)]="itemToSearch.libelle" class="form-control custom-input pull-left"
                placeholder="Rechercher ..." (keyup)="currentPage = 1; getItems()" />
            </div>
          </div>
        </th>
      </tr>

      <tr class="custom-table-head">
        <th class="txt-align-center-counter-row">
          <a (click)="currentPage = 1; getItems()" title="Actualiser">
            <i class="fa fa-redo-alt"></i></a>&nbsp;&nbsp; #
        </th>
        <th>Exercice</th>
        <th>N° Affaire</th>
        <th>Cédante</th>
        <th>Branche</th>
        <th>Assuré</th>
        <!-- <th>Activité</th> -->
        <th>Date effet</th>
        <th>Date écheance</th>
        <th>N°Police</th>
        <th>Capitaux</th>
        <th>SMPLCI</th>
        <!-- <th>Prime</th> -->
        <th style="width: 150px;">Statut</th>

        <th class="txt-align-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items; let indice = index">
        <td class="txt-align-center">
          {{ getExactlyNumberRow(this.currentPage, indice) }}
        </td>

        <td>{{ item?.exeCode }}</td>
        <td>{{ item?.affCode }}</td>
        <td>{{ item?.cedNomFiliale }}</td>
        <td>{{ item?.couLibelle }}</td>
        <td>{{ item?.affAssure }}</td>
        <!-- <td>{{ item?.affActivite }}</td> -->
        <td>{{ item?.affDateEffet }}</td>
        <td>{{ item?.affDateEcheance || '-'  }}</td>
        <td>{{ item?.facNumeroPolice || '-' }}</td>
        <td>{{ item?.facCapitaux | moneyFormat }}</td>
        <td>{{ item?.facSmpLci | moneyFormat }}</td>
        <!-- <td>{{ item?.facPrime | moneyFormat }}</td> -->
        <td>
          <span class="statLibelle {{item?.statutCode}}" >{{item?.staLibelle}} </span>
           <span *ngIf="item?.statutCode === 'RET'" appAppAccess appAccess="GET-FAC-MSG-SOUS" (click)="openModal(templateRetournerAffaire,item)">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></span>
           <span *ngIf="item?.statutCode === 'RET'" appAppAccess appAccess="GET-FAC-MSG-COMPTA" (click)="openModal(templateRetournerAffaire,item)">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></span>
           <span *ngIf="item?.statutCode === 'RET'" appAppAccess appAccess="GET-FAC-MSG-VAL" (click)="openModal(templateRetournerAffaire,item)">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></span>
        </td>
        <td class="custom-width-td-action">
          <div class="custom-td-action">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-custom-action-dropdown" id="action" ngbDropdownToggle>
                Actions
              </button>
              <div ngbDropdownMenu aria-labelledby="action" class="dropdown-validation-plainte">
                <button appAppAccess appAccess="GET-FAC-DET"
                ngbDropdownItem
                (click)="openModal(templateDetailsAffaire,item)">
                <i class="fa fa-list"></i>&nbsp;Détails de l'affaire
              </button>

                <button ngbDropdownItem (click)="openModal(templateUpdateAffaire,item)"  appAppAccess appAccess="UPD-FAC"
                *ngIf="!noPutAction">
                  <i class="fa fa-edit"></i>&nbsp;Modifier l'affaire
                </button>

                <button ngbDropdownItem (click)="openModal(templateAddDocument,item)" appAppAccess appAccess="ADD-DOC-FAC"
                 *ngIf="!noPutAction || isEnCoursPlacementNelson">
                  <i class="fa fa-file"></i>&nbsp;Ajouter des documents
                </button>

                <button ngbDropdownItem (click)="openModal(templateUpdateRepartition,item)" appAppAccess appAccess="CRT-CED-LEG-REP"
                 *ngIf="!noPutAction">
                  <i class="fa fa-edit"></i>&nbsp;Effectuer une répartition
                </button>

                <button ngbDropdownItem appAppAccess appAccess="CRT-PLA"
                 *ngIf="(((!user.cedId && !noPutAction) || isEnCoursPlacementNelson) && !user?.isActeurValideur) || ( (item.statutCode == 'CREP' || item.statutCode == 'APLA' || item.statutCode == 'CPLA') && !user.cedId) "
                  (click)="openModal(templateUpdatePlacement,item)">
                  <i class="fa fa-list"></i>&nbsp;Effectuer un placement
                </button>

                <button ngbDropdownItem (click)="confirmTransmissionOrReturnAffaire(true, item)" appAppAccess appAccess="TRANS-FAC-SOUS"
                  *ngIf="(user.cedId && !noPutAction)">
                  <i class="fa fa-share"></i>&nbsp;Transmettre une affaire
                </button>

                <button ngbDropdownItem (click)="openModal(templateValidationPlacement,item)"  appAppAccess appAccess="VAL-FAC"
                *ngIf="!user.cedId && user?.isActeurValideur">
                  <i class="fa fa-check"></i>&nbsp;Valider l'affaire
                </button>

                <button ngbDropdownItem (click)="confirmTransmissionPourReglement(item)" appAppAccess appAccess="TRAN-FAC-COMPTA"
                *ngIf="item?.placementTermine && isEnCoursPlacementNelson">
                  <i class="fa fa-share"></i>&nbsp;Transmettre à la comptabilité
                </button>

                <button ngbDropdownItem (click)="confirmTransmettreNoteDeDebit(item)" appAppAccess appAccess="SEND-NOT-DEB-FAC">
                  <i class="fa fa-share"></i>&nbsp;Transmettre note de débit
                </button>

                <button ngbDropdownItem (click)="getReportDebit(item.affId)" *ngIf="item?.placementTermine" appAppAccess appAccess="EDIT-NOT-DEB-FAC">
                  <i class="fa fa-print"></i>&nbsp;Imprimer note débit
                </button>

                <button ngbDropdownItem (click)="openModal(templateNoteDebit,item);getPrintReportDebit(item?.affId)"  appAppAccess appAccess="EDIT-NOT-DEB-FAC"
                *ngIf="item?.placementTermine && !isEnCoursPlacementNelson && user?.cedId">
                  <i class="fa fa-print"></i>&nbsp;Imprimer note débit
                </button>

                <button ngbDropdownItem (click)="openModal(templateRetournerAffaire,item)" appAppAccess appAccess="RET-FAC-CED"
                  *ngIf="(!user.cedId && !noPutAction) || isEnCoursPlacementNelson">
                  <i class="fa fa-redo-alt"></i>&nbsp;Retourner l'affaire
                </button>

                <button ngbDropdownItem (click)="openModal(templateHistoriqueTraitement,item)" appAppAccess appAccess="GET-FAC-HIST">
                <i class="fa fa-list"></i>&nbsp;Historique traitement
              </button>

              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr *ngIf="items && items.length > 0">
        <td colspan="14">
          <div class="row pagination-part">
            <div class="col-md-9" style="text-align: center">
              <pagination [boundaryLinks]="true" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
                [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
            </div>

            <div class="col-md-3">
              <div class="paginator-per-page">
                <app-element-by-page-paginator (paginationChange)="changePaginationSize($event)"
                  [defaultItemPerPage]="itemsPerPage"></app-element-by-page-paginator>

                <span class="span_total_entree pull-right">Total : {{ totalItems }}</span>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr *ngIf="!items || items.length == 0">
        <td colspan="14">
          <div class="col-md-12 txt-align-center">
            Aucune donnée disponible
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Enregistrement Identification -->
<ng-template #templateUpdateAffaire>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
     Modification d'une identification
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-form-identification (closeModal)="closeFormModal($event)"></app-form-identification>
  </div>
</ng-template>

<!-- Enregistrement Repartition -->
<ng-template #templateUpdateRepartition>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Repartition
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-form-repartition (closeModal)="closeFormModal($event)" [isUpdateRepartition]="true"></app-form-repartition>
  </div>
</ng-template>


<!-- Enregistrement placement -->
<ng-template #templateUpdatePlacement>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Modification de placement
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-form-placement (closeModal)="closeFormModal($event)" [isPlacement]="true" [isUpdatePlacement]="true"></app-form-placement>
  </div>
</ng-template>

<!-- Validation placement -->
<ng-template #templateValidationPlacement>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Validation de placement
    </h4>
    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-form-placement (closeModal)="closeFormModal($event)" [isPlacement]="true" [isUpdatePlacement]="true" [isValidationPlacement]="true"></app-form-placement>
  </div>
</ng-template>

<ng-template #templateDetailsAffaire>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Détails de l'affaire N° {{itemToSave?.affCode}}
    </h4>

    <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-details-affaire-facultative></app-details-affaire-facultative>
  </div>
</ng-template>

<!-- Retourner placement -->
<ng-template #templateRetournerAffaire>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
     {{!itemToSave?.isSeeMotifRetour ?  'Retourner' : "Motif de retour"}} l'affaire n° {{itemToSave?.affCode}}
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-form-retourner-affaire (closeModal)="closeFormModal($event)"></app-form-retourner-affaire>
  </div>
</ng-template>

<!-- Retourner placement -->
<ng-template #templateHistoriqueTraitement>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
     Historique traitement de l'affaire n° {{itemToSave?.affCode}}
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-form-historique-traitement></app-form-historique-traitement>
  </div>
</ng-template>

<!-- Ajouter document -->
<ng-template #templateAddDocument>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
     Ajout de documents à l'affaire {{itemToSave?.affCode}}
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-creation-document-sinistre [idAffaire]="itemToSave?.affId"></app-creation-document-sinistre>
  </div>
</ng-template>

<!-- Ajouter document -->
<ng-template #templateNoteDebit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
     Note de débit {{itemToSave?.affCode}}
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div [ngBusy]="{
      busy: busyReport,
      message: 'Veuillez patienter ...',
      backdrop: false
    }" style="height: 400px;">
      <iframe [src]="fileUrlDebitNote" title="description" *ngIf="fileUrlDebitNote" style="width: 100%;height: 100%;"></iframe>
    </div>

  </div>
</ng-template>

