<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-3">
                        <h2><strong>Sinistre</strong></h2>
                    </div>
                    <div class="body">
                        <mat-tab-group>
                            <mat-tab label="En cours de saisie">
                                <ng-template matTabContent>
                                    <div class="header-btn-new-affaire">
                                        <button type="button" class="btn btn-md custom_btn_primary pull-right"
                                            (click)="openModal(templateSinistre)">
                                            <i class="fa fa-plus"></i>&nbsp; Nouveau sinistre
                                        </button>
                                    </div>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/saisi-by-cedante'" [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Transmis">
                                <ng-template matTabContent>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/transmis-by-cedante'"  [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="En cours de validation">
                                <ng-template matTabContent>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/attente-validation'"  [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>

                            <mat-tab label="En reglement">
                                <ng-template matTabContent>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/en-reglement'"   [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Soldes">
                                <ng-template matTabContent>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/en-reglement'"   [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Suivie">
                                <ng-template matTabContent>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/suivi'" [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>

                            <mat-tab label="Archives">
                                <ng-template matTabContent>
                                    <app-list-sinistre [endPoint]="'sinistres/facultative/arch'" [refreshDataTable]="refreshDataTable"></app-list-sinistre>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Enregistrement template -->
<ng-template #templateSinistre>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Ajout d'un nouveau sinistre
        </h4>

        <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body p-4">
        <app-form-sinistre (closeModal)="closeFormModal($event)" [isActive]="isActiveInput"></app-form-sinistre>
    </div>
</ng-template>