.graph-part {
    padding: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .repartition-affaire {
        border: 1px dashed var(--grey-color);
        border-radius: 5px;
        padding: 10px;
        width: 25%;
    }

    .line-chart-part {
        border: 1px dashed var(--grey-color);
        border-radius: 5px;
        padding: 10px;
        flex: 1;
    }
}
