<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <!-- <div class="header mb-3">
                        <h2><strong>Tableau de bord</strong></h2>
                    </div> -->

                    <div class="body">
                        
                        <div class="welcome message-par">
                            <h1> Bienvenue  <b> {{ (user?.firstName || user?.nom) +' '+(user?.lastName || user?.prenom)}} </b>  sur la plateforme de Gestion de Réassurance. </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


