<div
  class="form-indentification-container"
  [ngBusy]="{
    busy: busySave,
    message: 'Veuillez patienter ...',
    backdrop: false
  }"
>
  <form [formGroup]="formulaireGroup" (ngSubmit)="confirmSaveItem()">
    <fieldset class="mt-3">
        <legend>Identification du traité</legend>
        <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12 mb-1">
            <label>Exercice : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="exeCode"
              name="exeCode"
              id="exeCode"
              [readonly]="false"
            >
              <ng-option
                *ngFor="let exercice of listeExercices"
                [value]="exercice?.exeCode"
                >{{ exercice.exeLibelle }}</ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('exeCode')?.dirty || getFormFiledsValue('exeCode')?.touched) && getFormFiledsValue('exeCode')?.invalid && getFormFiledsValue('exeCode')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <!-- <div class="col-md-3 col-xs-12 col-sm-12 mb-3">
            <label>Filiale/cédante : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="cedId"
              name="cedenteId"
              id="cedenteId"
              [readonly]="user?.cedId || isDetails"
            >
              <ng-option
                *ngFor="let cedente of listeCedente"
                [value]="cedente?.cedId"
                >{{ cedente.cedNomFiliale }}</ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('cedId')?.dirty || getFormFiledsValue('cedId')?.touched) && getFormFiledsValue('cedId')?.invalid && getFormFiledsValue('cedId')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div> -->

          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Numéro traité :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Numéro de police"
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Référence :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Référence "
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Source :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Source"
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-6 col-xs-12 col-sm-12 mb-1">
            <label>Nature : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="natLibelle"
              name="natLibelle"
              id="natLibelle"

            >
              <ng-option
                *ngFor="let nature of natureListe"
                [value]="nature"
                >{{ nature.natLibelle }}
              </ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('exeCode')?.dirty || getFormFiledsValue('exeCode')?.touched) && getFormFiledsValue('exeCode')?.invalid && getFormFiledsValue('exeCode')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-6 col-xs-12 col-sm-12 mb-1">
            <label>Exercice de rattachement : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="exeLibelle"
              name="exeLibelle"
              id="exeLibelle"

            >
              <ng-option
                *ngFor="let exercice of exoRattachement"
                [value]="exercice"
                >{{ exercice.exeLibelle }}</ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('exeCode')?.dirty || getFormFiledsValue('exeCode')?.touched) && getFormFiledsValue('exeCode')?.invalid && getFormFiledsValue('exeCode')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Date d'effet :
              <span class="required_champs">*</span>
            </label>

            <input
              class="form-control custom-input"
              placeholder="02/01/2024"
              autocomplete="off"
              formControlName="sinDateSurvenance"
              [bsConfig]="{ isAnimated: true ,dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}"
              bsDatepicker
              name="sinDateSurvenance"
              type="text"
              [class.errorInputForm]="
                      getFormFiledsValue('sinDateSurvenance')?.invalid &&
                      getFormFiledsValue('sinDateSurvenance')?.touched"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>
          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Echeance :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="02/01/2024"
              autocomplete="off"
              formControlName="sinDateSurvenance"
              [bsConfig]="{ isAnimated: true ,dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}"
              bsDatepicker
              name="sinDateSurvenance"
              type="text"
              [class.errorInputForm]="
                      getFormFiledsValue('sinDateSurvenance')?.invalid &&
                      getFormFiledsValue('sinDateSurvenance')?.touched"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-12 mb-1">
            <label>Devise : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="devLibelle"
              name="devLibelle"
              id="devLibelle"

            >
              <ng-option
                *ngFor="let devise of deviseListe"
                [value]="devise?.devLibelle"
                >{{ devise.devLibelle }}</ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('exeCode')?.dirty || getFormFiledsValue('exeCode')?.touched) && getFormFiledsValue('exeCode')?.invalid && getFormFiledsValue('exeCode')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>
          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Cours :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Cours"
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-12 col-xs-12 mb-1">
            <label
              >Placé par  :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Placé par"
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>
        </div>
    </fieldset>

    <fieldset class="mt-4">
        <legend>Comptes</legend>
        <div class="row">
          <div class="col-md-3 col-xs-12 col-sm-12 mb-1">
            <label>Periodicité : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="perLibelle"
              name="perLibelle"
              id="perLibelle"

            >
              <ng-option
                *ngFor="let periodicite of PeriodiciteListe"
                [value]="PeriodiciteListe.devLibelle"
              >{{ periodicite.perLibelle }}</ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('exeCode')?.dirty || getFormFiledsValue('exeCode')?.touched) && getFormFiledsValue('exeCode')?.invalid && getFormFiledsValue('exeCode')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>


            <div class="col-md-3 col-xs-12 mb-1">
              <label
                >Delai d'envoi (jours) :
                <span class="required_champs">*</span>
              </label>
              <input
                class="form-control custom-input"
                placeholder="Delai d'envoi"
                autocomplete="off"
                formControlName="affAssure"
                name="affAssure"
                [readonly]="isDetails"
                [class.errorInputForm]="
                  getFormFiledsValue('affAssure')?.invalid &&
                  getFormFiledsValue('affAssure')?.touched
                "
                type="text"
              />
              <small
                class="text-danger"
                *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
              >
                Ce champ est obligatoire
              </small>
            </div>

            <div class="col-md-3 col-xs-12 mb-1">
              <label
                >Délai de confirmation :
                <span class="required_champs">*</span>
              </label>
              <input
                class="form-control custom-input"
                placeholder="Délai de confirmation"
                autocomplete="off"
                formControlName="affAssure"
                name="affAssure"
                [readonly]="isDetails"
                [class.errorInputForm]="
                  getFormFiledsValue('affAssure')?.invalid &&
                  getFormFiledsValue('affAssure')?.touched
                "
                type="text"
              />
              <small
                class="text-danger"
                *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
              >
                Ce champ est obligatoire
              </small>
            </div>

          <div class="col-md-3 col-xs-12 col-sm-12 mb-1">
            <label>Devise : <span class="required_champs">*</span> </label>

            <ng-select
              formControlName="devLibelle"
              name="devLibelle"
              id="devLibelle"

            >
              <ng-option
                *ngFor="let devise of deviseListe"
                [value]="devise?.devLibelle"
              >{{ devise.devLibelle }}</ng-option
              >
            </ng-select>
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('exeCode')?.dirty || getFormFiledsValue('exeCode')?.touched) && getFormFiledsValue('exeCode')?.invalid && getFormFiledsValue('exeCode')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

<!--           <div class="col-md-3 col-xs-12 mb-1">-->
<!--            <label-->
<!--              >Test :-->
<!--              <span class="required_champs">*</span>-->
<!--            </label>-->
<!--            <input-->
<!--              class="form-control custom-input"-->
<!--              placeholder="Assuré"-->
<!--              autocomplete="off"-->
<!--              formControlName="affAssure"-->
<!--              name="affAssure"-->
<!--              [readonly]="isDetails"-->
<!--              [class.errorInputForm]="-->
<!--                getFormFiledsValue('affAssure')?.invalid &&-->
<!--                getFormFiledsValue('affAssure')?.touched-->
<!--              "-->
<!--              type="text"-->
<!--            />-->
<!--            <small-->
<!--              class="text-danger"-->
<!--              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"-->
<!--            >-->
<!--              Ce champ est obligatoire-->
<!--            </small>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-xs-12 mb-1">-->
<!--            <label-->
<!--              >Test :-->
<!--              <span class="required_champs">*</span>-->
<!--            </label>-->
<!--            <input-->
<!--              class="form-control custom-input"-->
<!--              placeholder="Assuré"-->
<!--              autocomplete="off"-->
<!--              formControlName="affAssure"-->
<!--              name="affAssure"-->
<!--              [readonly]="isDetails"-->
<!--              [class.errorInputForm]="-->
<!--                getFormFiledsValue('affAssure')?.invalid &&-->
<!--                getFormFiledsValue('affAssure')?.touched-->
<!--              "-->
<!--              type="text"-->
<!--            />-->
<!--            <small-->
<!--              class="text-danger"-->
<!--              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"-->
<!--            >-->
<!--              Ce champ est obligatoire-->
<!--            </small>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-xs-12 mb-1">-->
<!--            <label-->
<!--              >Test :-->
<!--              <span class="required_champs">*</span>-->
<!--            </label>-->
<!--            <input-->
<!--              class="form-control custom-input"-->
<!--              placeholder="Assuré"-->
<!--              autocomplete="off"-->
<!--              formControlName="affAssure"-->
<!--              name="affAssure"-->
<!--              [readonly]="isDetails"-->
<!--              [class.errorInputForm]="-->
<!--                getFormFiledsValue('affAssure')?.invalid &&-->
<!--                getFormFiledsValue('affAssure')?.touched-->
<!--              "-->
<!--              type="text"-->
<!--            />-->
<!--            <small-->
<!--              class="text-danger"-->
<!--              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"-->
<!--            >-->
<!--              Ce champ est obligatoire-->
<!--            </small>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-xs-12 mb-1">-->
<!--            <label-->
<!--              >Test :-->
<!--              <span class="required_champs">*</span>-->
<!--            </label>-->
<!--            <input-->
<!--              class="form-control custom-input"-->
<!--              placeholder="Assuré"-->
<!--              autocomplete="off"-->
<!--              formControlName="affAssure"-->
<!--              name="affAssure"-->
<!--              [readonly]="isDetails"-->
<!--              [class.errorInputForm]="-->
<!--                getFormFiledsValue('affAssure')?.invalid &&-->
<!--                getFormFiledsValue('affAssure')?.touched-->
<!--              "-->
<!--              type="text"-->
<!--            />-->
<!--            <small-->
<!--              class="text-danger"-->
<!--              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"-->
<!--            >-->
<!--              Ce champ est obligatoire-->
<!--            </small>-->
<!--          </div>-->
         </div>-->
    </fieldset>

    <fieldset class="mt-4">
        <legend>Rénumeration du courtier</legend>
        <div class="row">
          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Taux courtier :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Taux courtier"
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

          <div class="col-md-3 col-xs-12 mb-1">
            <label
              >Surcommission :
              <span class="required_champs">*</span>
            </label>
            <input
              class="form-control custom-input"
              placeholder="Surcommission"
              autocomplete="off"
              formControlName="affAssure"
              name="affAssure"
              [readonly]="isDetails"
              [class.errorInputForm]="
                getFormFiledsValue('affAssure')?.invalid &&
                getFormFiledsValue('affAssure')?.touched
              "
              type="text"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"
            >
              Ce champ est obligatoire
            </small>
          </div>

<!--          <div class="col-md-3 col-xs-12 mb-1">-->
<!--            <label-->
<!--              >Test :-->
<!--              <span class="required_champs">*</span>-->
<!--            </label>-->
<!--            <input-->
<!--              class="form-control custom-input"-->
<!--              placeholder="Assuré"-->
<!--              autocomplete="off"-->
<!--              formControlName="affAssure"-->
<!--              name="affAssure"-->
<!--              [readonly]="isDetails"-->
<!--              [class.errorInputForm]="-->
<!--                getFormFiledsValue('affAssure')?.invalid &&-->
<!--                getFormFiledsValue('affAssure')?.touched-->
<!--              "-->
<!--              type="text"-->
<!--            />-->
<!--            <small-->
<!--              class="text-danger"-->
<!--              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"-->
<!--            >-->
<!--              Ce champ est obligatoire-->
<!--            </small>-->
<!--          </div>-->


<!--          <div class="col-md-3 col-xs-12 mb-1">-->
<!--            <label-->
<!--              >Test :-->
<!--              <span class="required_champs">*</span>-->
<!--            </label>-->
<!--            <input-->
<!--              class="form-control custom-input"-->
<!--              placeholder="Assuré"-->
<!--              autocomplete="off"-->
<!--              formControlName="affAssure"-->
<!--              name="affAssure"-->
<!--              [readonly]="isDetails"-->
<!--              [class.errorInputForm]="-->
<!--                getFormFiledsValue('affAssure')?.invalid &&-->
<!--                getFormFiledsValue('affAssure')?.touched-->
<!--              "-->
<!--              type="text"-->
<!--            />-->
<!--            <small-->
<!--              class="text-danger"-->
<!--              *ngIf="(getFormFiledsValue('affAssure')?.dirty || getFormFiledsValue('affAssure')?.touched) && getFormFiledsValue('affAssure')?.invalid && getFormFiledsValue('affAssure')?.errors?.['required']"-->
<!--            >-->
<!--              Ce champ est obligatoire-->
<!--            </small>-->
<!--          </div>-->

          </div>
    </fieldset>

    <div class="custom-btn-save-manager" *ngIf="!isDetails">
      <button
        type="submit"
        class="btn btn-md custom_btn_primary pull-right"

      >
        {{ itemToUpdate?.affId ? "Modifier" : "Enregistrer et continuer" }}
      </button>

      <button
        type="button"
        class="btn btn-md btn-cancel pull-right"
        (click)="closeModal.emit(false)"
        *ngIf="isWizardProcess"
      >
        Annuler
      </button>
    </div>
  </form>
</div>
