<div>
    <form >
        <div class="mb-2">
            <label for=""> Motif </label>
            <textarea class="form-control custom-input" name="description" id="description" cols="30" rows="10" 
            placeholder="" [(ngModel)]="description" disabled></textarea>    
        </div>

        <div class="row">
            <div class="col-12">
              <a class="pull-right" > Voir les détails du sinistre </a>
            </div>
          </div>
        <hr>
        <div class="custom-btn-save-manager">
            <button type="button" class="btn btn-md btn-cancel pull-right" (click)="fermer()"> Fermer</button>
        </div>
    </form>
  
</div> 