<section  class="body table-responsive clsOverflow"
          [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}">
  <form [formGroup]="formulaireGroup">
    <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
      <label>Cédante : <span class="required_champs">*</span> </label>
      <ng-select
        formControlName="cedId"
        name="cedId"
        id="cedId"
        (change)="getListCedanteParTraite(formulaireGroup.value)"
        [class.errorInputForm]="
              getFormFiledsValue('cedId')?.invalid &&
              getFormFiledsValue('cedId')?.touched
            "
      > 
        <ng-option
          *ngFor="let cedante of cedanteListe"
          [value]="cedante.cedId"
          >{{ cedante.cedNomFiliale }}</ng-option
        >
      </ng-select> 
      <small
      class="text-danger"
      *ngIf="(getFormFiledsValue('cedId')?.dirty || getFormFiledsValue('cedId')?.touched) && getFormFiledsValue('cedId')?.invalid && getFormFiledsValue('cedId')?.errors?.['required']"
    >
      Ce champ est obligatoire
    </small>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-4 mb-1">
      <label
        >Assiette de prime :
        <span class="required_champs">*</span>
      </label>
      <input
        class="form-control custom-input text-end"
        formControlName="assiettePrime"
        placeholder=""
        autocomplete="off" 
        name="assiettePrime"
        mask="separator"
        type="text"
        (keyup)="calculPmd()"
        [class.errorInputForm]=" 
        getFormFiledsValue('assiettePrime')?.invalid &&
        getFormFiledsValue('assiettePrime')?.touched
      "> 
      <small 
      class="text-danger"
      *ngIf="(getFormFiledsValue('assiettePrime')?.dirty || getFormFiledsValue('assiettePrime')?.touched) && getFormFiledsValue('assiettePrime')?.invalid && getFormFiledsValue('assiettePrime')?.errors?.['required']"
    >
      Ce champ est obligatoire
    </small>
    </div>
 
      <div class="col-md-4 col-xs-12 col-sm-4 mb-2">
        <label>Taux de prime : <span class="required_champs">*</span> </label>
        <input
        class="form-control custom-input"
        placeholder=""
        formControlName="tauxPrime"
        autocomplete="off"
        name="tauxPrime"
        type="text"
        (keyup)="calculPmd()"
        [class.errorInputForm]="
        getFormFiledsValue('tauxPrime')?.invalid &&
        getFormFiledsValue('tauxPrime')?.touched
      ">
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('tauxPrime')?.dirty || getFormFiledsValue('tauxPrime')?.touched) && getFormFiledsValue('tauxPrime')?.invalid && getFormFiledsValue('tauxPrime')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-12 mb-1">
        <label
          >PMD:
          <span class="required_champs">*</span>
        </label>
        <input
          class="form-control custom-input"
          placeholder=""
          formControlName="pmd"
          autocomplete="off"
          name="affAssure"
          type="text"
          [class.errorInputForm]="
          getFormFiledsValue('pmd')?.invalid &&
          getFormFiledsValue('pmd')?.touched
        ">  
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('pmd')?.dirty || getFormFiledsValue('pmd')?.touched) && getFormFiledsValue('pmd')?.invalid && getFormFiledsValue('pmd')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>

    </div> 
    </form>
  
      <div class="col-md-12 col-xs-12 col-sm-12 mt-3 mb-3">
        <fieldset>
          <legend>PMD par cession legale</legend>
          <table class="table table-condensed table-striped table-hover">
            <thead>
              <tr class="custom-table-head">
                <th class="text-center" style="width: 150px">Cession legale</th>
                <th class="text-center" style="width: 80px;">Taux(%)</th>
                <th class="text-center">PMD</th>
                <th class="text-center" style="width: 107px">Taux courtier</th>
                <th class="text-center" style="width: 164px;">Taux courtier placeur</th>
                <th class="text-center"></th>
                </tr>
            </thead>
         
            <tbody>
              <tr *ngFor="let item of listeCessionLegale; let indice = index">
                <!-- <td class="txt-align-center">
                  {{ getExactlyNumberRow(this.currentPage, indice) }}
                </td> -->
                <td class="text-center">
                    {{item?.paramCesLegalLibelle || "Libelle cession"}}
                </td>
                <td>
                  <input
                  class="form-control custom-input text-center"
                  placeholder=""
                  [(ngModel)]="item.tauxCesLeg"
                  name="tauxCesLeg{{indice}}"
                  autocomplete="off"
                  name="tauxCesLeg"
                  type="text">
                </td>
                <td>
                  <input
                      class="form-control custom-input text-center "
                      placeholder=""
                      [(ngModel)]="item.pmd"
                      name="pmd{{indice}}"
                      autocomplete="off"
                      name="pmd"
                      type="text">
                </td>
                <td>
                  <input
                  class="form-control custom-input"
                  placeholder=""
                  [(ngModel)]="item.tauxCourtier"
                  name="tauxCourtier{{indice}}"
                  autocomplete="off"
                  name="tauxCourtier"
                  type="text"
                  >  
                </td>
                <td>
                  <input
                  class="form-control custom-input"
                  placeholder=""
                  [(ngModel)]="item.tauxCourtierPlaceur"
                  name="tauxCourtierPlaceur{{indice}}"
                  autocomplete="off"
                  name="tauxCourtierPlaceur"
                  type="text">  
                </td>
                <td>
                  <input
                      class="text-center"
                      placeholder=""
                      [(ngModel)]="item.accepte"
                      name="accepte{{indice}}"
                      autocomplete="off"
                      name="accepte"
                      type="checkbox">
                </td>
              </tr>
            </tbody>
        
            <tfoot>
              <tr *ngIf="!items || items.length == 0">
                <td colspan="5">
                  <div class="col-md-12 txt-align-center">
                    Aucune donnée disponible
                  </div>
                </td>
              </tr>
            </tfoot> 
          </table>
        </fieldset>
      </div>       

      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <button type="button" [disabled]="!formulaireGroup.valid"  (click)="confirmSaveItem(formulaireGroup.value)"
         class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
      </div>

</section>
  
  