<form class="m-1" [formGroup]="paramForm" (ngSubmit)="confirmSaveItem()">
  <div [ngBusy]="{
        busy: busySuscription,
        message: 'Veuillez patienter ...',
        backdrop: false
      }">

    <div class="row">
      <div class="col-12 mb-3">
        <label>Pays :
          <span class="required_champs">*</span>
        </label>

        <ng-select formControlName="paysCode" name="paysCode" id="paysCode">
          <ng-option *ngFor="let country of listeCountry" [value]="country?.paysCode">{{country.paysNom}}</ng-option>
        </ng-select>

        <small class="text-danger"
          *ngIf="(getFormFiledsValue('paysCode')?.dirty || getFormFiledsValue('paysCode')?.touched) && getFormFiledsValue('paysCode')?.invalid && getFormFiledsValue('paysCode')?.errors?.['required']">
          Ce champ est obligatoire
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <label>Nom cédante :
          <span class="required_champs">*</span>
        </label>
        <input class="form-control custom-input" placeholder="Nom de la cédante" autocomplete="off"
          formControlName="cedNomFiliale" name="cedNomFiliale"
          [class.errorInputForm]="getFormFiledsValue('cedNomFiliale')?.invalid && getFormFiledsValue('cedNomFiliale')?.touched"
          type="text" />

        <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedNomFiliale')?.dirty || getFormFiledsValue('cedNomFiliale')?.touched) && getFormFiledsValue('cedNomFiliale')?.invalid && getFormFiledsValue('cedNomFiliale')?.errors?.['required']">
          Ce champ est obligatoire
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12 mb-3">
        <label>Sigle :
          <!-- <span class="required_champs">*</span> -->
        </label>
        <input class="form-control custom-input" placeholder="Sigle" autocomplete="off"
          formControlName="cedSigleFiliale" name="cedSigleFiliale"
          type="text" />
        <!-- <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedSigleFiliale')?.dirty || getFormFiledsValue('cedSigleFiliale')?.touched) && getFormFiledsValue('cedSigleFiliale')?.invalid && getFormFiledsValue('cedSigleFiliale')?.errors?.['required']">
          Ce champ est obligatoire
        </small> -->
      </div>

      <div class="col-md-6 col-xs-12 mb-3">
        <label>Télephone :
          <span class="required_champs">*</span>
        </label>
        <input class="form-control custom-input" placeholder="Télephone" autocomplete="off" formControlName="cedTel"
          name="cedTel"
          [class.errorInputForm]="getFormFiledsValue('cedTel')?.invalid && getFormFiledsValue('cedTel')?.touched"
          type="text" />
        <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedTel')?.dirty || getFormFiledsValue('cedTel')?.touched) && getFormFiledsValue('cedTel')?.invalid && getFormFiledsValue('cedTel')?.errors?.['required']">
          Ce champ est obligatoire
        </small>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12 mb-3">
        <label>Fax :
          <!-- <span class="required_champs">*</span> -->
        </label>
        <input class="form-control custom-input" placeholder="Fax" autocomplete="off" formControlName="cedFax"
          name="cedFax"
          type="text" />
        <!-- <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedFax')?.dirty || getFormFiledsValue('cedFax')?.touched) && getFormFiledsValue('cedFax')?.invalid && getFormFiledsValue('cedFax')?.errors?.['required']">
          Ce champ est obligatoire
        </small> -->
      </div>

      <div class="col-md-6 col-xs-12 mb-3">
        <label>Email :
          <span class="required_champs">*</span>
        </label>
        <input class="form-control custom-input" placeholder="Email" autocomplete="off" formControlName="cedEmail"
          name="cedEmail"
          [class.errorInputForm]="getFormFiledsValue('cedEmail')?.invalid && getFormFiledsValue('cedEmail')?.touched"
          type="text" />
        <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedEmail')?.dirty || getFormFiledsValue('cedEmail')?.touched) && getFormFiledsValue('cedEmail')?.invalid && getFormFiledsValue('cedEmail')?.errors?.['required']">
          Ce champ est obligatoire
        </small>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12 mb-3">
        <label>Adresse postale :
          <!-- <span class="required_champs">*</span> -->
        </label>
        <input class="form-control custom-input" placeholder="Adresse postale" autocomplete="off"
          formControlName="cedAdressePostale" name="cedAdressePostale"
          type="text" />
        <!-- <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedAdressePostale')?.dirty || getFormFiledsValue('cedAdressePostale')?.touched) && getFormFiledsValue('cedAdressePostale')?.invalid && getFormFiledsValue('cedAdressePostale')?.errors?.['required']">
          Ce champ est obligatoire
        </small> -->
      </div>

      <div class="col-md-6 col-xs-12 mb-3">
        <label>Situation géographique :
          <!-- <span class="required_champs">*</span> -->
        </label>
        <input class="form-control custom-input" placeholder="Situation géographique" autocomplete="off"
          formControlName="cedSituationGeo" name="cedSituationGeo"
          type="text" />
        <!-- <small class="text-danger"
          *ngIf="(getFormFiledsValue('cedSituationGeo')?.dirty || getFormFiledsValue('cedSituationGeo')?.touched) && getFormFiledsValue('cedSituationGeo')?.invalid && getFormFiledsValue('cedSituationGeo')?.errors?.['required']">
          Ce champ est obligatoire
        </small> -->
      </div>

    </div>

    <div class="custom-btn-save-manager">
      <button type="submit" class="btn btn-md custom_btn_primary pull-right" [disabled]="!paramForm.valid">
        {{itemToUpdate?.cedId ? 'Modifier' : 'Enregistrer'}}
      </button>

      <button type="button" class="btn btn-md btn-cancel pull-right" (click)="closeModal.emit(false)">
        Annuler
      </button>
    </div>
  </div>
</form>