.body {
    padding: 0px 0px !important;
}

.table-responsive {
    overflow-x: hidden;
}

button{
    padding: 1px 8px !important;
}

.custom-input{
    height: 27px !important;
}

:host ::ng-deep .element-per-page label{
    display: none;
}