.full-screen-modal {
  width: 99%;
}

.active {
  opacity: 1;
}
.inactive {
  opacity: 0.4;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}

.table-details {
  thead {
    tr {
      th {
        padding: 2px;
        font-size: 12px;
        height: 25px;
      }
    }

    tr {
      td {
        font-size: 12px;
        height: 30px;
      }
    }
  }
}

.modal-lg {
  width: 66%;
}
