<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header mb-3">
            <h2><strong>Administration</strong> utilisateur</h2>
          </div>
          <div class="body">
            <section class="section-parametre" [ngBusy]="{
                busy: busyGet,
                message: 'Veuillez patienter ...',
                backdrop: false
              }">
              <div class="">
                <div class="row clearfix">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                      <div class="body table-responsive">
                        <table class="table table-condensed table-striped table-hover">
                          <thead>
                            <tr>
                              <th colspan="11">
                                <div class="row mt-4">
                                  <div class="col-md-3">
                                    <input [(ngModel)]="itemToSearch.libelle"
                                      class="form-control custom-input pull-left" placeholder="Rechercher..."
                                      (keyup)="currentPage = 1; getItems()" />
                                  </div>

                                  <div class="col-md-9">
                                    <button type="button" class="btn btn-md custom_btn_primary pull-right"
                                      (click)="openModal(null, templateCrud)">
                                      <i class="fa fa-plus"></i>&nbsp; Ajouter
                                    </button>
                                  </div>
                                </div>
                              </th>
                            </tr>
                            <tr class="custom-table-head">
                              <th>
                                <a style="cursor: pointer" (click)="currentPage = 1; getItems()" title="Actualiser">
                                  <i class="fa fa-redo-alt"></i></a>&nbsp;&nbsp; #
                              </th>
                              <th>Nom prenoms</th>
                              <th>Cédante</th>
                              <th>Email</th>
                              <!-- <th>Dernière connexion</th> -->
                              <th>Contact</th>
                              <th>Statut</th>
                              <th class="txt-align-center">Actions</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let item of items; let indice = index">
                              <td class="txt-align-center">{{ indice + 1 }}</td>
                              <td>{{ item?.lastName }} {{ item?.firstName }}</td>
                              <td>{{ item?.cedName }}</td>
                              <td>{{ item?.email }}</td>
                              <!-- <td>{{ item?.lastConnectionDate }}</td> -->
                              <!-- <td>{{ item?.login }}</td> -->
                              <!-- <td>{{ item?.roleLibelle }}</td> -->
                              <td>
                                {{ item?.tel }}
                              </td>
 
                              <td>
                                <span *ngIf="item?.notBlocked" style="background-color: green;color: #fff;"
                                  class="badge badge-success">Actif</span>
                                <span *ngIf="!item?.notBlocked" style="background-color: red;color: #fff"
                                  class="badge badge-danger">Vérrouillé</span>
                              </td>
                              <td>

                                <div class="custom-td-action">
                                  <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-custom-action-dropdown" id="action"
                                      ngbDropdownToggle>
                                      Actions
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="action" class="dropdown-validation-plainte">
                                      <button ngbDropdownItem (click)="openModal(item,templateDetailsUser,true)">
                                        <i class="fa fa-list"></i>&nbsp;Détails utilisateur
                                      </button> 

                                      <button ngbDropdownItem (click)="openModal(item,templateAddFonction,true)">
                                        <i class="fa fa-plus"></i>&nbsp;Ajouter une fonction
                                      </button>

                                      <button ngbDropdownItem (click)="openModal(item,templateModifierInfo,true)">
                                        <i class="fa fa-edit"></i>&nbsp;Modifier les infos
                                      </button>

                                      <button ngbDropdownItem (click)="openModal(item,templateAssignFonction)">
                                        <i class="fa fa-edit"></i>&nbsp;Modifier/retirer une fonction
                                      </button>

                                      <button ngbDropdownItem (click)="confirmUnLockAccount(item?.userId)"
                                        *ngIf="!item?.notBlocked">
                                        <i class="fa fa-unlock"></i>&nbsp;Activer le compte
                                      </button> 

                                      <button ngbDropdownItem (click)="confirmLockAccount(item?.userId)"
                                        *ngIf="item?.notBlocked">
                                        <i class="fa fa-lock"></i>&nbsp;Verrouiller le compte
                                      </button>

                                      <button ngbDropdownItem (click)="confirmResendMailActivation(item?.email)" >
                                      <i class="fa fa-paper-plane"></i>&nbsp;Envoyer mail d'activation
                                    </button>


                                    </div>
                                  </div>
                                </div>
                              </td>

                            </tr>
                          </tbody>

                          <tfoot>
                            <tr *ngIf="items && items.length > 0">
                              <td colspan="12">
                                <div class="row pagination-part">
                                  <div class="col-md-9" style="text-align: center">
                                    <pagination [boundaryLinks]="true" [itemsPerPage]="itemsPerPage"
                                      [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
                                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                                      (pageChanged)="pageChanged($event)">
                                    </pagination>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="paginator-per-page">
                                      <app-element-by-page-paginator (paginationChange)="
                                          changePaginationSize($event)
                                        " [defaultItemPerPage]="itemsPerPage">
                                      </app-element-by-page-paginator>

                                      <span class="span_total_entree pull-right">Total : {{ totalItems }}</span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>

                            <tr *ngIf="!items || items.length == 0">
                              <td colspan="9">
                                <div class="col-md-12 txt-align-center">
                                  Aucune donnée disponible
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>

                    <!-- Enregistrer un utilisateur -->
                    <ng-template #templateCrud>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">
                          {{
                          itemToSave?.id
                          ? "Modification d'utilisateur"
                          : "Enregistrement d'utilisateur"
                          }}
                        </h4> 

                        <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
                          <mat-icon>close</mat-icon>
                        </button>
                      </div>
                      <div class="modal-body" [ngBusy]="{
                          busy: busySave,
                          message: 'Veuillez patienter ...',
                          backdrop: false
                        }">
                        <div>
                          <app-form-create-user (closeModal)="closeModalFormUser($event)"></app-form-create-user>
                        </div>
                      </div>

                    </ng-template>
                    <!-- Fin enregistrer un utilisateur-->

                    <!-- Details utilisateur-->
                    <ng-template #templateDetailsUser>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">
                          Détails de l'utilisateur
                        </h4>

                        <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
                          <mat-icon>close</mat-icon>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>

                          <table class="table table-condensed table-border table-striped">

                            <thead >
                              <tr>
                                 <th colspan="2" class="txt-align-center"> Informations de l'utilisateur </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="key">Nom</td>
                                <td class="key">{{itemToSave?.lastName}}</td>
                              </tr>
                              <tr>
                                <td class="key">Prénoms</td>
                                <td class="key">{{itemToSave?.firstName}}</td>
                              </tr>
                              <tr>
                                <td class="key">Email</td>
                                <td class="key">{{itemToSave?.email}}</td>
                              </tr>
                              <tr *ngIf="itemToSave?.cedName">
                                <td class="key">Cédante</td>
                                <td class="key">{{itemToSave?.cedName}}</td>
                              </tr>
                              <tr>
                                <td class="key">Téléphone</td>
                                <td class="key">{{itemToSave?.tel}}</td>
                              </tr>
                            </tbody>
                          </table>

                          <table class="table table-condensed table-border table-striped">

                            <thead>
                              <tr >
                                 <th colspan="3" class="txt-align-center"> Fonctions et privilèges </th>
                              </tr>

                              <tr  class="custom-table-head">
                                <th>Libellé</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let fct of detailsFonctionUser; let indice = index">
                                <td class="key">{{fct?.name}}</td>
                                <td class="key">{{fct?.startsAt}}</td>
                                <td class="key">{{fct?.endsAt}}</td>
                              </tr>

                            </tbody>
                          </table>

                        </div>
                      </div>

                    </ng-template>
                    <!-- Fin details utilisateur-->

                    <ng-template #templateAssignFonction>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left"> Modification de fonction </h4>

                        <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
                          <mat-icon>close</mat-icon>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <app-form-assign-fonction (closeModal)="closeModalFormUser($event)" [itemToUpdate]="itemToSave"></app-form-assign-fonction>
                        </div>
                      </div>

                    </ng-template>

                    <ng-template #templateAddFonction>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left"> Ajout de fonction à l'utilisateur {{itemToSave?.firstName}} </h4>

                        <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
                          <mat-icon>close</mat-icon>
                        </button> 
                      </div>
                      <div class="modal-body"> 
                        <div>
                          <app-add-new-fonction (closeModal)="closeModalFormUser($event)" [itemToUpdate]="itemToSave"></app-add-new-fonction>
                        </div>
                      </div>

                    </ng-template>

                    <ng-template #templateModifierInfo>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">
                         Modification des infos de l'utilisateur
                        </h4>

                        <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
                          <mat-icon>close</mat-icon>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <app-form-update-info-user (closeModal)="closeModalFormUser($event)" [itemToUpdate]="itemToSave"></app-form-update-info-user>
                        </div>
                      </div>

                    </ng-template>


                  </div>
                </div>
              </div>
            </section>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>

