<!-- <section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-3">
                        <h2><strong>Tableau de bord</strong> affaires facultatives</h2>
                    </div>

                    <div class="body">
                        
                        <div class="filter-part">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-12 pull-right">
                                    <label>Filiale/cédante : </label> 
                                    <ng-select [(ngModel)]="itemToSearch.cedenteId" (change)="getStatistique()"
                                      [readonly]="user?.cedId" id="cedenteId">
                                      <ng-option *ngFor="let cedente of listeCedente" [value]="cedente?.cedId">{{ cedente.cedNomFiliale
                                        }}</ng-option>
                                    </ng-select>
                                  </div>
                      
                                  <div class="col-md-2 col-xs-12 col-sm-12 pull-right">
                                    <label>Exercice : </label>
                      
                                    <ng-select [(ngModel)]="itemToSearch.exeCode" (change)="getStatistique()" id="exeCode">
                                      <ng-option *ngFor="let exercice of listeExercices" [value]="exercice?.exeCode">{{ exercice.exeLibelle
                                        }}</ng-option>
                                    </ng-select>
                                  </div>
                            </div>

                        </div>
                        <div class="statistique-part mb-3">
                            <div class="row">
                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique [title]="'Nombre total d\'affaire'" [nombre]="itemStatistique.totalAffaires" [cssClass]="'allAffaire'"></app-block-statistique>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique  [title]="'Affaires en cours de placement'" [nombre]="itemStatistique.totalEnCoursPlacement" [cssClass]="'affaireEnAttenteDePlacement'"></app-block-statistique>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique  [title]="'Affaires en règlement'" [nombre]="itemStatistique.totalEnCoursReglement" [cssClass]="'affaireEnReglement'"></app-block-statistique>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique  [title]="'Affaires archivées'" [nombre]="itemStatistique.totalArchive" [cssClass]="'affaireRegle'"></app-block-statistique>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 -->


 <section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-3">
                        <h2><strong>Statistique sur les affaires facultatives</strong></h2>
                    </div>
                    <div class="body">
                        <mat-tab-group>
                            <mat-tab label="Situation des notes de débit par filiale">
                                <ng-template matTabContent >
                                    <app-liste-statistique-fac [action]="'sitFinfilia'" [actionPlus]="''"
                                    [endPoint]="'statistiques/affaires-fac/situation-par-cedante'"
                                    [tab]="'reports/situation-note-debit-par-cedante'"></app-liste-statistique-fac>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Situation des notes de debit par filiale et par réassureur">
                                <ng-template matTabContent>
                                    <app-liste-statistique-fac [action]="'sitFinfilia'" [actionPlus]="'sitFinFiliaReas'" 
                                    [tab]="'reports/situation-note-debit-par-cedante-reassureur'"
                                    [endPoint]="'statistiques/affaires-fac/situation-par-cedante-reassureur'"></app-liste-statistique-fac>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Situation des notes de crédit par filiale et par réassureur">
                                <ng-template matTabContent>
                                    <app-liste-statistique-fac  [action]="'stiFinNoCreFiliRea'" [actionPlus]="'sitFinFiliaReas'"
                                    [endPoint]="'statistiques/affaires-fac/situation-note-de-credit'" 
                                    [tab]="'reports/situation-note-credit-par-cedante-reassureur'"></app-liste-statistique-fac>
                                </ng-template>
                            </mat-tab> 
                            <mat-tab label="Chiffre d'affaire par réassureur">
                                <ng-template matTabContent>
                                    <app-liste-statistique-fac [endPoint]="'statistiques/affaires-fac/chiffre-affaire'" 
                                    [tab]="'reports/chiffre-affaires-par-periode-par-ced-rea'" [action] ="'stiFinNoCreFiliRea'" 
                                    [actionPlus]="'chifAfRea'"></app-liste-statistique-fac>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
