.body {
    padding: 0px 0px !important;
}

.table-responsive {
    overflow-x: hidden;
}

button{
    padding: 1px 8px !important;
    height: 30px;
    position: relative;
    top: -2px;
}

.custom-input{
    height: 34px !important;
}

.progress {
    border-radius: 7px;
    height: 18px;
}

.cls-aperiteur{
    background-color: #c0efd44d;
}