<div
  class="body table-responsive clsOverflow"
  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}"
>
<form [formGroup]="formulaireGroup"  (submit)="confirmSaveItem(formulaireGroup.value)">
 <fieldset class="mb-3 mt-3">
    <legend>Ajouter un placement</legend>
    <div class="row d-flex align-items-end p-3">
      <!-- <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
        <label class="mb-1">Reste à repartir (%) </label>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar"  [style.width.%]="repTauxCourtierPlaceur"
               [attr.aria-valuenow]="repTauxCourtierPlaceur" aria-valuemin="0" aria-valuemax="100">
            {{repTauxCourtierPlaceur}}%
          </div>
        </div>
      </div> -->

      <div class="col-md-12 col-xs-12 col-sm-12 mb-3">
        <!-- <label class="mb-1">Déjà repartir(%): </label> -->
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar"  [style.width.%]="repTauxCourtier" [attr.aria-valuenow]="repTauxCourtier"
               aria-valuemin="0" aria-valuemax="100">
            {{repTauxCourtier}}%
          </div>
        </div>
      </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
          <label>Réassureur :  <span class="required_champs">*</span></label>
          <ng-select
            name="cesId"
            id="cesId"
            notFoundText="Aucune donnée"
            [items]="listeReassureurs"
            bindLabel="cesNom"
            bindValue="cesId"
            formControlName="cesId"
            [class.errorInputForm]="
            getFormFiledsValue('cesId')?.invalid &&
            getFormFiledsValue('cesId')?.touched"
            >
            <small
          class="text-danger"
          *ngIf="(getFormFiledsValue('cesId')?.dirty || getFormFiledsValue('cesId')?.touched) && getFormFiledsValue('cesId')?.invalid && getFormFiledsValue('cesId')?.errors?.['required']"
          >
            Ce champ est obligatoire
          </small>
        </ng-select>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
           <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
              <label>Part(%):  <span class="required_champs">*</span></label>
            <input
              class="form-control custom-input pull-left text-end" name="repTaux"
              formControlName="repTaux"
              [class.errorInputForm]="
              getFormFiledsValue('repTaux')?.invalid &&
              getFormFiledsValue('repTaux')?.touched"
            />
            <small
              class="text-danger"
              *ngIf="(getFormFiledsValue('repTaux')?.dirty || getFormFiledsValue('repTaux')?.touched) && getFormFiledsValue('repTaux')?.invalid && getFormFiledsValue('repTaux')?.errors?.['required']"
              >
                Ce champ est obligatoire
              </small>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 d-flex align-items-end justify-content-center">
              <input type="checkbox" name="aperiteur" id="aperiteur" value="option1"
              formControlName="aperiteur"
              [class.errorInputForm]="
              getFormFiledsValue('aperiteur')?.invalid &&
              getFormFiledsValue('aperiteur')?.touched"
              style="margin-bottom: 8px;">
              <label class="" for="aperiteur" style="padding-left: 12px;">
                Apériteur ?
              </label>
          </div>
            <div class="col-md-2 col-xs-12 col-sm-12 d-flex align-items-end">
              <button type="submit" class="btn btn-md custom_btn_primary">Ajouter</button>
          </div>
           </div>
          </div>
      </div>
 </fieldset>
</form>

  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th colspan="5">
          <div class="row">
            <div class="col-md-5 col-xs-12 col-sm-12">
              <!-- <label>Rechercher par mot clé : </label> -->
              <input
                [(ngModel)]="itemToSearch.libelle"
                class="form-control custom-input pull-left"
                placeholder="Rechercher ..."
                (keyup)="currentPage = 1; getItems()"
              />
            </div>
          </div>
        </th>
      </tr>

      <tr class="custom-table-head">
        <th>Réassureurs</th>
        <th>Part(%)</th>
        <th class="txt-align-center">Actions</th>

        </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items; let indice = index" [ngClass]="{'cls-aperiteur': item.aperiteur}">
        <td>{{ item?.cesNom }}</td>
        <td>{{ item?.repTaux }}</td>
        <td class="custom-width-td-action">
            <div class="custom-td-action">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-custom-action-dropdown"
                  id="action"
                  ngbDropdownToggle
                >
                  Actions
                </button>
                <div
                  ngbDropdownMenu
                  aria-labelledby="action"
                  class="dropdown-validation-plainte"
                >
                  <button
                  ngbDropdownItem
                  (click)="openModal(templateDetailsAffaire,item)"
                >
                  <i class="fa fa-list"></i>&nbsp;Détails l'affaire
                </button>

                  <button
                    ngbDropdownItem
                    (click)="openModal(templatePaiement,item)"  *ngIf="isOngletPaiement"
                  >
                    <i class="fa fa-money-bill"></i>&nbsp;Paiement
                  </button>

                  <button ngbDropdownItem (click)="openModal(templatePaiement,item)" *ngIf="isOngletReversement" >
                    <i class="fa fa-redo-alt"></i>&nbsp; Reversement
                  </button>

                </div>
              </div>
            </div>
          </td>
      </tr>
    </tbody>

    <tfoot>
      <tr *ngIf="items && items.length > 0">
        <td colspan="14">
          <div class="row pagination-part">
            <div class="col-md-9" style="text-align: center">
              <pagination
                [boundaryLinks]="true"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                class="pagination-sm"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </div>

            <div class="col-md-3">
              <div class="paginator-per-page">
                <app-element-by-page-paginator
                  (paginationChange)="changePaginationSize($event)"
                  [defaultItemPerPage]="itemsPerPage"
                ></app-element-by-page-paginator>

                <span class="span_total_entree pull-right"
                  >Total : {{ totalItems }}</span
                >
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr *ngIf="!items || items.length == 0">
        <td colspan="14">
          <div class="col-md-12 txt-align-center">
            Aucune donnée disponible
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #templatePaiement>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        {{isOngletPaiement ? 'Paiement':'Reversement' }} affaire N° {{itemToSave?.affCode}}
      </h4>

      <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <app-form-paiement [currentAffaire]="itemToSave" [isPaiement]="isOngletPaiement"></app-form-paiement>
    </div>
  </ng-template>
