<div
  class="body table-responsive clsOverflow"
  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}"
>
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th colspan="14">
          <div class="row mt-4">
            <div class="col-md-4 col-xs-12 col-sm-12">
              <label>Rechercher par mot clé : </label>
              <input
                [(ngModel)]="itemToSearch.libelle"
                class="form-control custom-input pull-left"
                placeholder="Rechercher ..."
                (keyup)="currentPage = 1; getItems()"
              />
            </div>
          </div>
        </th>
      </tr>

      <tr class="custom-table-head">
        <th class="txt-align-center-counter-row">
          <a (click)="currentPage = 1; getItems()" title="Actualiser">
            <i class="fa fa-redo-alt"></i></a
          >&nbsp;&nbsp; #
        </th>
        <th>Exercice</th>
        <th>N°Police</th>
        <th>Reférence</th>
        <th>Source</th>
        <th>Date d'effet</th>
        <th>Date d'écheance</th>
        <th>Placé par</th>
         <th class="txt-align-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items; let indice = index">
        <td class="txt-align-center">
          {{ getExactlyNumberRow(this.currentPage, indice) }}
        </td>

        <td>{{ item?.exeCode }}</td>
        <td>{{ item?.traiNumero }}</td>
        <td>{{ item?.traiReference }}</td>
        <td>{{ item?.traiSourceRef }}</td>
        <td>{{ item?.traiDateEffet }}</td>
        <td>{{ item?.traiDateEcheance }}</td>
        <td>{{ item?.cesNom }}</td>

        <!-- <td>{{ item?.facPrime | moneyFormat }}</td> -->
        <!-- <td> <span class="badge">{{item?.staLibelle}} </span> </td> -->
        <td class="custom-width-td-action">
          <div class="custom-td-action">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-custom-action-dropdown"
                id="action"
                ngbDropdownToggle
              >
                Actions
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="action"
                class="dropdown-validation-plainte"
              >
                <!-- <button
                  ngbDropdownItem
                  (click)="openModal(item, templateCreateVacataire)"
                >
                  <i class="fa fa-list"></i>&nbsp;Situation comptable
                </button> -->

                <button
                ngbDropdownItem
              >
                <i class="fa fa-list"></i>&nbsp;Détails l'affaire
              </button>
                <button
                  ngbDropdownItem
                  (click)="openModal(templatePaiement,item)"
                >
                  <i class="fa fa-edit"></i>&nbsp;Modifier
                </button>
                <button ngbDropdownItem >
                  <i class="fa fa-share"></i>&nbsp; Transmettre
                </button>
                <button ngbDropdownItem (click)="openModal(templateTraiterNonPropor,item,1)">
                  <i class="fa fa-share"></i>&nbsp; Identification du traité
                </button>
                <button ngbDropdownItem (click)="openModal(templateTraiterNonPropor,item,2)">
                  <i class="fa fa-share"></i>&nbsp; Conditions du traités
                </button>
                <button ngbDropdownItem (click)="openModal(templateTraiterNonPropor,item,3)">
                  <i class="fa fa-share"></i>&nbsp; Placements
                </button>
                <!-- <button ngbDropdownItem (click)="openModal(templateUpdatePlacement,item)">
                  <i class="fa fa-print"></i>&nbsp; Imprimer la note
                </button> -->

              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr *ngIf="items && items.length > 0">
        <td colspan="14">
          <div class="row pagination-part">
            <div class="col-md-9" style="text-align: center">
              <pagination
                [boundaryLinks]="true"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                class="pagination-sm"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </div>

            <div class="col-md-3">
              <div class="paginator-per-page">
                <app-element-by-page-paginator
                  (paginationChange)="changePaginationSize($event)"
                  [defaultItemPerPage]="itemsPerPage"
                ></app-element-by-page-paginator>

                <span class="span_total_entree pull-right"
                  >Total : {{ totalItems }}</span
                >
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr *ngIf="!items || items.length == 0">
        <td colspan="14">
          <div class="col-md-12 txt-align-center">
            Aucune donnée disponible
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #templateTraiterNonPropor>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
          Modification du traité non proportionnel
      </h4>

      <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <app-form-traite-non-proportionnel [currentTraiterNonPropo]="itemToSave" [numStep]="NumeroStepParent" ></app-form-traite-non-proportionnel>
    </div>
  </ng-template>
