.btn-light {
    background-color: #ced1d8;
}

.sinistre-upload-container {
    // border: 1px dashed var(--grey-color);
    // padding: 10px;
    // border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.cls-td-popover{
   color: #252728;
   font-size: 12px;
}

.btn-cancel {
    height: 34px;
    margin-top: 20px;
}