.img-assure{
   
    width: 85px;
    height: 85px;
    border: 1px solid #eceeee;
    padding: 1px;
}

.search-part{
    display: flex;
    align-items: center;
    // background-color: #d2e1f2;
    // padding: 5px;
}

.btn-close-search {
  background-color: #fff;
  border-radius: 45%;
  border: 1px solid orange;
  color: orange;
  padding: 1px 6px;
}

.search-adherent-part{
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    width: 600px;
}

.form-control:disabled{
    background-color: #e9ecef !important;
}

.custom-input{
    font-size: 12px !important;
    height: 34px;
}

.btn-add{
    background-color: #fff;
    padding: 3px 13px;
    margin-top: 2px;
}

::ng-deep .cdk-overlay-container {
    position: fixed;
    z-index: 10000;
}


.table-details{
    thead{
      tr{
        th{
          padding: 2px;
          font-size: 12px;
          height: 25px;
        }
      }
  
      tr{
        td{
          font-size: 12px;
          height: 30px;
        }
      }
    }
}

.btn-close-item {
  background-color: #fff;
  border: 1px solid #57595a;
  &:disabled {
    background-color: #7e7f7f;
  }
}
