<form [formGroup]="formulaireGroup" (ngSubmit)="confirmSaveItem(formulaireGroup.value)"
class="body table-responsive clsOverflow"
  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}"
>
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
        <label>Tranche : <span class="required_champs">*</span> </label>

        <ng-select    
          formControlName="trancheId"
          [class.errorInputForm]=" 
                getFormFiledsValue('trancheId')?.invalid &&
                getFormFiledsValue('trancheId')?.touched
              "
          name="exeCode"
          id="exeCode"
        >
          <ng-option
            *ngFor="let tranche of listeTranche"
            [value]="tranche?.trancheId"
            >{{ tranche.trancheLibelle }}</ng-option
          >
        </ng-select>
        <small 
        class="text-danger"
        *ngIf="(getFormFiledsValue('trancheId')?.dirty || getFormFiledsValue('trancheId')?.touched) && getFormFiledsValue('trancheId')?.invalid && getFormFiledsValue('trancheId')?.errors?.['required']"
          >
        Ce champ est obligatoire
      </small>
      </div>
      <div class="col-md-12 col-xs-12 mb-1">
        <label
          >Nombre de reconstitution :
          <span class="required_champs">*</span>
        </label>
        <input
          class="form-control custom-input"
          placeholder=""
          autocomplete="off"
          name="nbrReconstitution"
          type="text"
          formControlName="nbrReconstitution"
          [class.errorInputForm]=" 
                getFormFiledsValue('nbrReconstitution')?.invalid &&
                getFormFiledsValue('nbrReconstitution')?.touched"
        />
       <small 
       class="text-danger"
       *ngIf="(getFormFiledsValue('nbrReconstitution')?.dirty || getFormFiledsValue('nbrReconstitution')?.touched) && getFormFiledsValue('nbrReconstitution')?.invalid && getFormFiledsValue('nbrReconstitution')?.errors?.['required']"
         >
       Ce champ est obligatoire
     </small>
      </div>
      <div class="col-md-12 col-xs-12 mb-1">
        <label
          >Taux de reconstitution :
          <span class="required_champs">*</span>
        </label>
        <input
          class="form-control custom-input"
          placeholder=""
          autocomplete="off"
          name="tauxReconstitution"
          type="text"
          formControlName="tauxReconstitution"
          [class.errorInputForm]=" 
                getFormFiledsValue('tauxReconstitution')?.invalid &&
                getFormFiledsValue('tauxReconstitution')?.touched
              "
        />
          <small 
          class="text-danger"
          *ngIf="(getFormFiledsValue('tauxReconstitution')?.dirty || getFormFiledsValue('tauxReconstitution')?.touched) && getFormFiledsValue('tauxReconstitution')?.invalid && getFormFiledsValue('tauxReconstitution')?.errors?.['required']"
        >
          Ce champ est obligatoire
        </small>
      </div>

      <div class="col-md-12 col-xs-12 mb-1">
        <label
          >Taux de prime :
          <span class="required_champs">*</span>
        </label>
        <input
          class="form-control custom-input"
          placeholder=""
          autocomplete="off"
          name="tauxPrimeReconstitution"
          type="text"
          formControlName="tauxPrimeReconstitution"
          [class.errorInputForm]=" 
                getFormFiledsValue('tauxPrimeReconstitution')?.invalid &&
                getFormFiledsValue('tauxPrimeReconstitution')?.touched
              "
        />
          <small 
          class="text-danger"
          *ngIf="(getFormFiledsValue('tauxPrimeReconstitution')?.dirty || getFormFiledsValue('tauxPrimeReconstitution')?.touched) && getFormFiledsValue('tauxPrimeReconstitution')?.invalid && getFormFiledsValue('tauxPrimeReconstitution')?.errors?.['required']"
            >
          Ce champ est obligatoire
        </small>                                                 
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
        <label>Mode de calcul : <span class="required_champs">*</span> </label>

        <ng-select
          name="modeCalculReconstitution"
          id="modeCalculReconstitution"
          formControlName="modeCalculReconstitution"
          [class.errorInputForm]=" 
                getFormFiledsValue('modeCalculReconstitution')?.invalid &&
                getFormFiledsValue('modeCalculReconstitution')?.touched
              "
        >
          <ng-option
            *ngFor="let cal of calaculListe"
            [value]="cal?.libelle"
            >{{ cal.libelle }}</ng-option
          >
        </ng-select>
       <small 
       class="text-danger"
       *ngIf="(getFormFiledsValue('modeCalculReconstitution')?.dirty || getFormFiledsValue('modeCalculReconstitution')?.touched) && getFormFiledsValue('modeCalculReconstitution')?.invalid && getFormFiledsValue('modeCalculReconstitution')?.errors?.['required']"
        >
       Ce champ est obligatoire
     </small>
      </div>

    
      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <button type="submit" [disabled]="!formulaireGroup.valid" class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
      </div>

    </div>
</form>