<ng-container>
    <div class="container-reset-password">
        <div class="row">
            <div class="col-12">
              <div class="row">
      
                <div class="col-12 mb-3">
                  <label>Email  :
                    <span class="required_champs">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="itemToSave.email" type="email" name="login" id="emailD" />
                </div>
      
      
                <div class="col-12 mb-3">
                  <label>Nouveau mot de passe :
                    <span class="required_champs">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="itemToSave.newPassword" type="password" name="newPassword" id="newPass" />
                </div>
      
                <div class="col-12 mb-3">
                  <label>Confirmer mot de passe :
                    <span class="required_champs">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="confirmnewPassword" type="password" name="confirmnewPassword"
                    id="confirmPass" />
                </div>
              </div>

              <div class="container-auth-form-btn mt-2">
                <div style="text-align:center">
                  <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                    class="auth-form-btn custom_btn_primary" (click)="resetPassword()"  type="button">Valider</button>
                </div>
              </div>

            </div>
          </div>
    </div>
   
  </ng-container>