<div class="body table-responsive" [ngBusy]="{
    busy: busyGet,
    message: 'Veuillez patienter ...',
    backdrop: false
  }">
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th colspan="14">
          <div class="row mt-4">
            <div class="col-md-3 col-xs-12 col-sm-12" *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'"
            [ngClass]="{'col-md-2': actionPlus === 'sitFinFiliaReas', 'col-md-3': actionPlus !== 'sitFinFiliaReas', 'col-xs-12 col-sm-12': true}">
              <label>Exercice</label>
              <ng-select 
                        name="exerciceName" 
                        id="exerciceId"
                        notFoundText="Aucune donnée"
                        placeholder=""
                        (clear)="clean()"
                        [items]="exercices"
                        bindLabel="exeCode"
                        (change)="currentPage=0;getStat()"
                        bindValue="exeCode"
                        [(ngModel)]="exercice">
                    </ng-select>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12" *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'"
            [ngClass]="{'col-md-2': actionPlus === 'sitFinFiliaReas', 'col-md-3': actionPlus !== 'sitFinFiliaReas', 'col-xs-12 col-sm-12': true}">
              <label>Cédante </label>
              <ng-select 
                        name="cedanteName" 
                        id="cedanteId"
                        notFoundText="Aucune donnée"
                        placeholder=""
                        (clear)="clean()"
                        [items]="cedantes"
                        bindLabel="cedNomFiliale"
                        (change)="currentPage=0;getStat()"
                        bindValue="cedId"
                        [(ngModel)]="cedante">
                    </ng-select>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12" *ngIf="actionPlus =='sitFinFiliaReas' || actionPlus =='chifAfRea'">
              <label>Réassureur</label>
              <ng-select 
                        name="reassureurName" 
                        id="reassureurId"
                        notFoundText="Aucune donnée"
                        placeholder=""
                        [items]="reassureurs"
                        (clear)="clean()"
                        bindLabel="cesNom"
                        (change)="currentPage=0;getStat()"
                        bindValue="cesId"
                        [(ngModel)]="reassureur">
                    </ng-select>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12" *ngIf="actionPlus =='chifAfRea'">
              <label>Date début</label>
              <input class="form-control custom-input" placeholder="Période"
                                                    autocomplete="off" [(ngModel)]="debut"
                                                    name="dateRecherche" type="text" bsDatepicker
                                                    (ngModelChange)="currentPage=0;onValueDateChangeDebut($event)" [maxDate]="dateActuelle"
                                                    [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY' , containerClass: 'theme-dark-blue'}">
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12" *ngIf="actionPlus =='chifAfRea'">
              <label>Date fin</label>
              <input class="form-control custom-input" placeholder="Période"
                                                    autocomplete="off" [(ngModel)]="fin"
                                                    name="dateRecherche" type="text" bsDatepicker
                                                    (ngModelChange)="currentPage=0;onValueDateChangeFin($event)" [maxDate]="dateActuelle"
                                                    [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY' , containerClass: 'theme-dark-blue'}">
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12" *ngIf="action =='sitFinfilia'">
              <label>Statut d'envoi </label>
              <ng-select
                        name="statusEnvoiName" 
                        id="statusEnvoiId"
                        notFoundText="Aucune donnée"
                        placeholder=""
                        (clear)="clean()"
                        [items]="statusEnvois"
                        bindLabel="libelle"
                        (change)="currentPage=0;getStat()"
                        bindValue="value"
                        [(ngModel)]="statusEnvoi">
              </ng-select>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12" *ngIf="action =='sitFinfilia'">
              <label>Statut d'encaissement</label>
              <ng-select 
                        name="statutEncaissmentName" 
                        id="statutEncaissmentId"
                        notFoundText="Aucune donnée"
                        placeholder=""
                        (clear)="clean()"
                        [items]="statutEncaissments"
                        bindLabel="libelle"
                        (change)="currentPage=0;getStat()"
                        bindValue="value"
                        [(ngModel)]="statutEncaissment">
                    </ng-select>
            </div>
          </div>
        </th>
      </tr>
      
      <tr class="custom-table-head">
        <th class="txt-align-center-counter-row">
          <a (click)="currentPage = 1; getStat()" title="Actualiser">
            <i class="fa fa-redo-alt"></i></a>&nbsp;&nbsp; #
        </th>
        <th *ngIf="action =='stiFinNoCreFiliRea'">N°note de crédit</th>
        <th *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">N°note de débit</th>
        <th *ngIf="action =='sitFinfilia'">N°Fac</th>
        <th *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">Assuré</th>
        <th *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">Branche</th>
        <th *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">Effet</th>
        <th *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">Echéance</th>
        <th *ngIf="actionPlus =='chifAfRea'">Date reversement</th>
        <th *ngIf="action =='sitFinfilia' && actionPlus ==''">Montant note de débit</th>
        <th *ngIf="action =='sitFinfilia' && actionPlus ==''">Montant encaissé</th>
        <th *ngIf="action =='sitFinfilia' && actionPlus ==''">Reste à payer</th>
        <th *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">Montant à céder</th>
        <th *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">Montant encaissé</th>
        <th *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">Commission <span *ngIf="actionPlus =='chifAfRea'">NelsonRe</span></th>
        <th *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">Montant à reverser</th>
        <th *ngIf="action =='stiFinNoCreFiliRea'">Montant reversé</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items; let indice = index">
        <td class="txt-align-center">
          {{ getExactlyNumberRow(this.currentPage, indice) }}
        </td>
        <td *ngIf="action =='stiFinNoCreFiliRea'">{{ item?.bordNum || item?.numNoteCred}}</td> 
        <td *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">{{ item?.affCode || item?.numNoteDeb}}</td> 
        <td *ngIf="action =='sitFinfilia'">{{ item?.affCode}}</td> 
        <td *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">{{ item?.affAssure || item?.nomAssure}}</td>
        <td *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">{{ item?.couLibelle || item?.branche}}</td>
        <td *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">{{ item?.affDateEffet || item?.dateEffet | dateFormatInDateHour}}</td> 
        <td *ngIf="action =='sitFinfilia' || action =='stiFinNoCreFiliRea'">{{ item?.affDateEcheance || item?.dateEcheance | dateFormatInDateHour}}</td>
        <td *ngIf="actionPlus =='chifAfRea'">{{item?.dateReversement}}</td>
        <td *ngIf="action =='sitFinfilia' && actionPlus ==''">{{ arrondir(item?.montantNoteDebit) | moneyFormat}}</td>     
        <td *ngIf="action =='sitFinfilia' && actionPlus ==''">{{ arrondir(item?.montantEncaisse) | moneyFormat}}</td>     
        <td *ngIf="action =='sitFinfilia' && actionPlus ==''">{{ arrondir(item?.resteAEncaisser) | moneyFormat}}</td>     
        <td *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">{{ arrondir(item?.montantCede) | moneyFormat}}</td>     
        <td *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">{{ arrondir(item?.montantEncaisse) | moneyFormat}}</td>     
        <td *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">{{ arrondir(item?.commissionNelre) | moneyFormat}}</td>     
        <td *ngIf="actionPlus =='sitFinFiliaReas' || action =='stiFinNoCreFiliRea'">{{ arrondir(item?.montantAReverser) || arrondir(item?.montantAReverser) | moneyFormat}}</td>     
        <td *ngIf="action =='stiFinNoCreFiliRea'">{{ item?.sinDateDeclaration || arrondir(item?.montantReverse) | moneyFormat}}</td>     
      </tr>
    </tbody>

    <tfoot>
      <tr *ngIf="items && items.length > 0">
        <td colspan="14">
          <div class="row pagination-part">
            <div class="col-md-9 mb-0" style="text-align: center">
              <pagination [boundaryLinks]="true" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
                [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;" [maxSize]="5" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
            </div>

            <div class="col-md-3">
              <div class="paginator-per-page">
                <app-element-by-page-paginator (paginationChange)="changePaginationSize($event)"
                  [defaultItemPerPage]="itemsPerPage"></app-element-by-page-paginator>
                  
                <span class="span_total_entree pull-right">Total : {{ totalItems }}</span>
              </div>
            </div> 
          </div>
        </td>
      </tr>

      <tr *ngIf="!items || items.length == 0">
        <td colspan="14">
          <div class="col-md-12 txt-align-center">
            Aucune donnée disponible
          </div>
        </td>
      </tr>
    </tfoot>
  </table> 

  <div class="header-btn-new-affaire">
    <button type="button" class="btn btn-md custom_btn_primary pull-right" (click)="open(templateNoteDebit)">
        <i class="fa fa-print"></i>&nbsp; Imprimer
    </button> 
</div>
</div>

<!-- Ajouter document -->
<ng-template #templateNoteDebit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
     Reports
    </h4>

    <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body" style="height: 80vh;">
    <div [ngBusy]="{
      busy: busyReport,
      message: 'Veuillez patienter ...',
      backdrop: false
    }" style="height: 100%;">
      <iframe [src]="fileUrlDebitNote" title="description" *ngIf="fileUrlDebitNote" style="width: 100%;height: 100%;"></iframe>
    </div>

  </div>
</ng-template>

