<div class="placement-container">
  <form
    name="placement"
    [ngBusy]="{
      busy: busySave,
      message: 'Veuillez patienter ...',
      backdrop: false
    }"
  >
    <div class="row">
      <div class="col-12 mb-3">
        <fieldset>
          <legend>Informations sur l'affaire</legend>
          <div>
            <app-details-information-identification
              [isPlacement]="true"
              [refreshData]="refreshData"
            ></app-details-information-identification>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row" *ngIf="!isDetails && !isValidationPlacement">
      <div class="col-12 mt-3 mb-3">
        <fieldset>
          <legend>Nouveau placement</legend>

          <div>
            <!-- <div class="row">
              <div class="col-md-12 col-xs-12 mb-3">

                <div class="row">
                

                </div>
              </div>

            </div> -->

            <div class="row mb-3">

              <!-- <div class="col-md-3 col-xs-12 mb-3">
                <app-search-interlocuteur [idCessionnaire]="itemToSave.cessionnaireSelected?.cesId"></app-search-interlocuteur>
              </div> -->

              <div class="col-md-3">
                <label
                >Cessionnaire :
                <span class="required_champs">*</span>
              </label>

              <ng-select
                [(ngModel)]="itemToSave.cessionnaireSelected"
                id="cesId"
                name="cesId"
              
              >
                <ng-option
                  *ngFor="let cessionaire of listeCessionnaire"
                  [value]="cessionaire"
                  >{{ cessionaire.cesNom }}</ng-option
                >
              </ng-select>

              <!-- <input class="form-control custom-input" [(ngModel)]="itemToSavePlacement" placeholder="Filiale" autocomplete="off"
                                  name="repCapital" mask="separator" type="text" /> -->
                               
            </div>

              <div class="col-md-2 col-xs-12 mb-3">
                <label>Capital:<span class="required_champs">*</span> </label>
                <input
                  class="form-control custom-input"
                  mask="separator"
                  placeholder="Capital"
                  autocomplete="off"
                  [disabled]="isDetails"
                  name="capitalRep"
                  type="text"
                  [(ngModel)]="itemToSave.repCapital"
                  name="repCapital"
                  (keyup)="getRepartionByCapital(itemToSave)"
                />
              </div>

              <div class="col-md-2 col-xs-12 mb-3">
                <label>Part:<span class="required_champs">*</span> </label>
                <input
                  class="form-control custom-input"
                  placeholder="Taux"
                  autocomplete="off"
                  (keyup)="getRepartionByTaux(itemToSave)"
                  [readonly]="true"
                  [disabled]="isDetails"
                  name="repPart"
                  mask="separator"
                  type="text"
                  [(ngModel)]="itemToSave.repTaux"
                  name="repTaux"
                />
              </div>

              <div class="col-md-2 col-xs-12 mb-3">
                <label>SC/C:<span class="required_champs">*</span> </label>
                <input
                  class="form-control custom-input"
                  placeholder="Taux"
                  autocomplete="off"
                  name="repSousCommission"
                  type="text"
                  mask="separator"
                  [(ngModel)]="itemToSave.repSousCommission"
                  name="repSousCommission"
                  [disabled]="isDetails"
                />
              </div>

              <div class="col-md-1 col-xs-12 mb-3">
                <label>Taux C.C:<span class="required_champs">*</span> </label>
                <input
                  class="form-control custom-input"
                  placeholder="Taux Court"
                  autocomplete="off"
                  name="repTauxComCourt"
                  mask="separator"
                  type="text"
                  [(ngModel)]="itemToSave.repTauxComCourt"
                  name="repTauxComCourt"
                  [disabled]="isDetails"
                />
              </div>

              <div class="col-md-2 col-xs-12 mb-3">
                <button
                  class="btn btn-xs btn-default btn-add"
                  type="button"
                  (click)="confirmSaveItem()"
                  [disabled]="isDetails"
                >
                  {{ !itemToSave?.isUpdatePlacement ? "Ajouter" : "Modifier" }}
                </button>

                <button type="button"
                class="btn btn-md btn-cancel pull-right" style="margin-top: 20px;"
                (click)="itemToSave = {repSousCommission : 5}"
                >
                Annuler
              </button>

              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-12">
                <fieldset>
                  <legend> Liste des interlocuteurs </legend>
                  <app-search-interlocuteur [idCessionnaire]="itemToSave.cessionnaireSelected?.cesId" [resetData]="refreshData" (emitInterlocuteur)="getInterlocuteurSelected($event)" [oldInterlocuteur]="listeInterlocuteursPlacements"></app-search-interlocuteur>
                </fieldset>
              </div>  
            </div>
           

          </div>
        </fieldset>
      </div>
    </div>

    <!--- PARTIE EN CREATION D'AFFAIRE -->
    <div class="row" *ngIf="!isUpdatePlacement || currentUser?.cedId">
      <div class="col-12 mb-3 mt-3 table-responsive">
        <fieldset>
          <div class="col-12 mt-3 table-responsive">
            <app-tableau-placement
              (refreshData)="getPlacementByAff($event)"
              [listeRepartitions]="listeRepartitions"
              [isDetails]="isDetails"
            ></app-tableau-placement>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- FIN CREATIÀON AFFAIRE -->

    <!-- EFFECTUER PLACEMENT EN CE  MOMENT IL Y A LES TABSET -->
    <div class="row" *ngIf="isUpdatePlacement && !currentUser?.cedId">
      <div class="col-12">
        <mat-tab-group>

          <mat-tab label="Saisie" *ngIf="!isValidationPlacement">
            <ng-template matTabContent>
              <app-tableau-placement
                (refreshData)="getPlacementSaisieByAff($event);getPlacementValideByAff($event);getPlacementEnAttenteValidation($event)"
                [listeRepartitions]="listeRepartitions"
                [isDetails]="isDetails"
                [title]="'Liste des placements saisis'"
                [canPutAction]="true"
                (currentPlacementSelected)="getCurrentPlacementToUpdate($event)"
              ></app-tableau-placement>

                <!-- <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-md custom_btn_primary pull-right"
                  >
                    Transmettre
                  </button>
                </div> -->

            </ng-template>
          </mat-tab>

          <mat-tab label="En attente de validation">
            <ng-template matTabContent>
              <app-tableau-placement
                [listeRepartitions]="listeHistoriquePlacement"
                [isDetails]="isDetails"
                [title]="'En attente de placement'"
                (refreshData)="getPlacementSaisieByAff($event);getPlacementValideByAff($event);getPlacementEnAttenteValidation($event)"
                (refreshDataAffaireValide)="getPlacementValideByAff($event);getPlacementEnAttenteValidation($event)"
                [canPutAction]="false"
                [isEnAttenteTab]="true"
                [isValidationPlacement]="isValidationPlacement"
              ></app-tableau-placement>
            </ng-template>
          </mat-tab>

          <mat-tab label="Validé">
            <ng-template matTabContent>
              <app-tableau-placement
                (refreshData)="getPlacementSaisieByAff($event);getPlacementValideByAff($event);getPlacementEnAttenteValidation($event)"
                (refreshDataAffaireValide)="getPlacementValideByAff($event);getPlacementEnAttenteValidation($event)"
                [listeRepartitions]="listePlacementValides"
                [isDetails]="isDetails"
                [title]="'Liste des placements validés'"
                [isValidateOnglet]="true"
                [canPutAction]="false"
              ></app-tableau-placement>
            </ng-template>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>

    <!-- FIN EFFECTUER PLACEMENT EN TABSET-->

    <div class="custom-btn-save-manager">
      <button
        type="button"
        class="btn btn-md btn-cancel pull-right"
        (click)="gotoPreviousStep()"
        *ngIf="isWizardProcess && !isDetails"
      >
        Précedent
      </button>
    </div>
  </form>
</div>
