<div
  class="body table-responsive"
  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}"
>
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th colspan="14">
          <div class="row mt-4">
            <div class="col-md-3 col-xs-12 col-sm-12">
              <label>Filiale/cédante : </label>

              <ng-select
                [(ngModel)]="itemToSearch.cedenteId"
                (change)="currentPage = 1; getItems()"
                [readonly]="user?.cedId"
                id="cedenteId"
              >
                <ng-option
                  *ngFor="let cedente of listeCedente"
                  [value]="cedente?.cedId"
                  >{{ cedente.cedNomFiliale }}</ng-option
                >
              </ng-select>
            </div>

            <div class="col-md-3 col-xs-12 col-sm-12">
              <label>Exercice : </label>

              <ng-select
                [(ngModel)]="itemToSearch.exeCode"
                (change)="currentPage = 1; getItems()"
                id="exeCode"
              >
                <ng-option
                  *ngFor="let exercice of listeExercices"
                  [value]="exercice?.exeCode"
                  >{{ exercice.exeLibelle }}</ng-option
                >
              </ng-select>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-12">
              <label>Rechercher par mot clé : </label>
              <input
                [(ngModel)]="itemToSearch.libelle"
                class="form-control custom-input pull-left"
                placeholder="Rechercher ..."
                (keyup)="currentPage = 1; getItems()"
              />
            </div>
          </div>
        </th>
      </tr>

      <tr class="custom-table-head">
        <th class="txt-align-center-counter-row">
          <a (click)="currentPage = 1; getItems()" title="Actualiser">
            <i class="fa fa-redo-alt"></i></a
          >&nbsp;&nbsp; #
        </th>
        <th>Exercice</th>
        <th>N° Affaire</th>
        <th>Cédante</th>
        <th>Branche</th>
        <th>Assuré</th>
        <th>Activité</th>
        <th>Date effet</th>
        <th>Date écheance</th>
        <th>N°Police</th>
        <th>Capitaux</th>
        <th>SMPLCI</th>
        <!-- <th>Prime</th> -->
        <!-- <th>Statut</th> -->

        <th class="txt-align-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items; let indice = index">
        <td class="txt-align-center">
          {{ getExactlyNumberRow(this.currentPage, indice) }}
        </td>
        
        <td>{{ item?.exeCode }}</td>
        <td>{{ item?.affCode }}</td>
        <td>{{ item?.cedNomFiliale }}</td>
        <td>{{ item?.couLibelle }}</td>
        <td>{{ item?.affAssure }}</td>
        <td>{{ item?.affActivite }}</td>
        <td>{{ item?.affDateEffet }}</td>
        <td>{{ item?.affDateEcheance }}</td>
        <td>{{ item?.facNumeroPolice }}</td>
        <td>{{ item?.facCapitaux | moneyFormat }}</td>
        <td>{{ item?.facSmpLci | moneyFormat }}</td>
        <!-- <td>{{ item?.facPrime | moneyFormat }}</td> -->
        <!-- <td> <span class="badge">{{item?.staLibelle}} </span> </td> -->
        <td class="custom-width-td-action">
          <div class="custom-td-action">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-custom-action-dropdown"
                id="action"
                ngbDropdownToggle
              >
                Actions
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="action"
                class="dropdown-validation-plainte"
              >
                <!-- <button
                  ngbDropdownItem
                  (click)="openModal(item, templateCreateVacataire)"
                >
                  <i class="fa fa-list"></i>&nbsp;Etat comptable
                </button> -->

                <button
                ngbDropdownItem
                (click)="openModal(templateDetailsAffaire,item)"
              >
                <i class="fa fa-list"></i>&nbsp;Détails l'affaire
              </button>

                <button
                  ngbDropdownItem
                  (click)="openModal(templatePaiement,item)"
                >
                  <i class="fa fa-money-bill"></i>&nbsp;Paiement
                </button>

                <button
                  ngbDropdownItem
                  (click)="openModal(templateUpdateRepartition,item)"
                >
                  <i class="fa fa-redo-alt"></i>&nbsp; Reversement
                </button>

                <button
                  ngbDropdownItem
                  (click)="openModal(templateUpdatePlacement,item)"
               
                >
                  <i class="fa fa-print"></i>&nbsp; Imprimer la note
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr *ngIf="items && items.length > 0">
        <td colspan="14">
          <div class="row pagination-part">
            <div class="col-md-9" style="text-align: center">
              <pagination
                [boundaryLinks]="true"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                class="pagination-sm"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </div>

            <div class="col-md-3">
              <div class="paginator-per-page">
                <app-element-by-page-paginator
                  (paginationChange)="changePaginationSize($event)"
                  [defaultItemPerPage]="itemsPerPage"
                ></app-element-by-page-paginator>

                <span class="span_total_entree pull-right"
                  >Total : {{ totalItems }}</span
                >
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr *ngIf="!items || items.length == 0">
        <td colspan="14">
          <div class="col-md-12 txt-align-center">
            Aucune données disponible
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>


<ng-template #templatePaiement>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        Paiement affaire N° {{itemToSave?.affCode}}
      </h4>
  
      <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <app-form-paiement [currentAffaire]="itemToSave"></app-form-paiement>
    </div>
  </ng-template>