 <section class="content">
    <!--<div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-3">
                        <h2><strong>Tableau de bord</strong> sinistre facultatif</h2>
                    </div>

                    <div class="body">
                        
                        <div class="filter-part">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-12 pull-right">
                                    <label>Filiale/cédante : </label>
                      
                                    <ng-select [(ngModel)]="itemToSearch.cedenteId" (change)="getStatistique()"
                                      [readonly]="user?.cedId" id="cedenteId">
                                      <ng-option *ngFor="let cedente of listeCedente" [value]="cedente?.cedId">{{ cedente.cedNomFiliale
                                        }}</ng-option>
                                    </ng-select>
                                  </div>
                      
                                  <div class="col-md-2 col-xs-12 col-sm-12 pull-right">
                                    <label>Exercice : </label>
                      
                                    <ng-select [(ngModel)]="itemToSearch.exeCode" (change)="getStatistique()" id="exeCode">
                                      <ng-option *ngFor="let exercice of listeExercices" [value]="exercice?.exeCode">{{ exercice.exeLibelle
                                        }}</ng-option>
                                    </ng-select>
                                  </div>
                            </div>

                        </div>
                        <div class="statistique-part mb-3">
                            <div class="row">
                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique [title]="'Nombre total d\'affaire'" [nombre]="itemStatistique.totalAffaires" [cssClass]="'allAffaire'"></app-block-statistique>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique  [title]="'Affaires en cours de placement'" [nombre]="itemStatistique.totalEnCoursPlacement" [cssClass]="'affaireEnAttenteDePlacement'"></app-block-statistique>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique  [title]="'Affaires en règlement'" [nombre]="itemStatistique.totalEnCoursReglement" [cssClass]="'affaireEnReglement'"></app-block-statistique>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12">
                                    <app-block-statistique  [title]="'Affaires archivées'" [nombre]="itemStatistique.totalArchive" [cssClass]="'affaireRegle'"></app-block-statistique>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card p-3" style="margin-bottom: 41px;height: 835px;overflow: overlay;">
                    <h1 class="text-center" style="font-weight: 500;">Statistiques</h1>
                    <div class="p-0 mb-4" style="border:2px solid #ffc20f; border-radius: 0;background-color: #ffc20f !important;">
                        <button type="button" class="btn btn-light rounded-0 cls-indent-sinis2" style="width: 33%;" id="Config1"
                                aria-controls="collapseBasic" (click)="selectTab(1)"> Affaires facultatives
                        </button>
                        <button type="button" class="btn btn-light rounded-0 cls-indent-sinis3"  style="width: 33%;    background: rgb(255, 194, 15);
                        border: rgb(255, 194, 15);color: rgb(255, 255, 255);" id="Config2"
                        aria-controls="collapseBasic" (click)="selectTab(2)"> Traités
                        </button>
                        <button type="button" class="btn btn-light rounded-0 cls-indent-sinis1"  style="width: 33%;" id="Config2"
                        aria-controls="collapseBasic" (click)="selectTab(2)"> Sinistres
                        </button>
                        <!--{{isActive}}-->
                    </div>

                    <div  *ngIf="staticTabs == 1">
                        <app-data-sinistre-facultative></app-data-sinistre-facultative>
                        <!--<app-creation-sinistre [itemCreationSinistre]="itemSinistre" (closeModal) ="closeFormModal($event)"
                        (step2)="receiveStep1($event)"  [isActiveCreationSinistre]="isActive"></app-creation-sinistre> -->
                    </div>
                    <div  *ngIf="staticTabs == 2">
                        <!--<app-creation-document-sinistre (step1)="precedent($event)" [itemCreationSinistre]="itemSinistre" [isActiveCreationSinistre]="isActive"
                        [idSinistreInDoc]="idSinistre" (closeModal) ="closeFormModal($event)"></app-creation-document-sinistre>-->
                    </div>

                </div>
            </div>
       
        </div>
    </div> 

</section>
