<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
        <label>Branche : <span class="required_champs">*</span> </label>

        <ng-select
          
          name="exeCode"
          id="exeCode"
         
        >
          <ng-option
            *ngFor="let exercice of listeExercices"
            [value]="exercice?.exeCode"
            >{{ exercice.exeLibelle }}</ng-option
          >
        </ng-select>
      
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
        <label>Description : <span class="required_champs">*</span> </label>
        <textarea class="form-control custom-input" name="descrip" id="descrip" formControlName="docDescription"
            cols="30" rows="5" placeholder="Description">
                </textarea>
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <button type="button" (click)="confirmSaveItem(itemToSave)"
                                        class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
      </div>

    </div>