.rowActive{
    td{
        color: orange;
    }
}

td{
padding: 5px 5px !important;

.btn-selecte{
    border: 1px solid #489aff !important;
    color: #489aff;
    font-size: 11px !important;
    background-color: #fff;
}

.span_total_entree{
    color: #0665aa;
    font-weight: bold;
}
}

.titla{
font-size: 15px;
}

.img-assure{
width: 35px;
height: 35px;
border: 1px solid #eceeee;
// padding: 5px;
// margin-top: 20px;
}

.inProgress{
color: orange;
font-size: 10px;
}

.btn-generer-numero-dossier {
background-color: #b5b1b1;
color: #454242;
font-size: 11px !important;
}

.num-dossier-part {
display: grid;
input {
    text-align: center;
}
}

.row-paire{
background-color: #3e3e3e0d !important;
}
.not-start {
background-color: #5e5d5d;
}

.badge {
font-size: 9px;
}

.in-progress {
background-color: #fdf5e6;
color: ORANGE;
font-size: 7px !important;
}