<div class="row" 
class="body table-responsive clsOverflow"
  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}"
>
  <form [formGroup]="formulaireGroup"  (submit)="confirmSaveItem(formulaireGroup.value)">
  <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
    <label>Catégorie : <span class="required_champs">*</span> </label>
    <input
      class="form-control custom-input"
      placeholder=""
      autocomplete="off"
      name="categorieLibelle"
      type="text"
      formControlName="categorieLibelle"
      [class.errorInputForm]="
      getFormFiledsValue('categorieLibelle')?.invalid &&
      getFormFiledsValue('categorieLibelle')?.touched"
    />
    <small 
    class="text-danger"
    *ngIf="(getFormFiledsValue('categorieLibelle')?.dirty || getFormFiledsValue('categorieLibelle')?.touched) && getFormFiledsValue('categorieLibelle')?.invalid && getFormFiledsValue('categorieLibelle')?.errors?.['required']"
    >
      Ce champ est obligatoire
    </small>
  </div>
  
  <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
    <label>Cedantes : <span class="required_champs">*</span> </label>

    <ng-select
      formControlName="cedIds"
      [multiple]="true"
      [class.errorInputForm]="
      getFormFiledsValue('cedIds')?.invalid &&
      getFormFiledsValue('cedIds')?.touched"
      name="cedIds" 
      id="cedIds"
    >
      <ng-option
        *ngFor="let cedante of cedantesListe"
        [value]="cedante?.cedId"
        >{{ cedante.cedNomFiliale }}</ng-option
      >
    </ng-select>
    <small 
    class="text-danger"
    *ngIf="(getFormFiledsValue('cedIds')?.dirty || getFormFiledsValue('cedIds')?.touched) && getFormFiledsValue('cedIds')?.invalid && getFormFiledsValue('paysCode')?.errors?.['required']"
    >
      Ce champ est obligatoire
    </small>
  </div>
 
  <div class="col-md-12 col-xs-12 mb-1">
    <label
      >Capacité :
      <span class="required_champs">*</span>
    </label>
    <input
      class="form-control custom-input"
      placeholder=""
      autocomplete="off"
      name="affAssure"
      type="text"
      formControlName="categorieCapacite"
      [class.errorInputForm]="
      getFormFiledsValue('categorieCapacite')?.invalid &&
      getFormFiledsValue('categorieCapacite')?.touched"
    />
    <small 
    class="text-danger"
    *ngIf="(getFormFiledsValue('categorieCapacite')?.dirty || getFormFiledsValue('categorieCapacite')?.touched) && getFormFiledsValue('categorieCapacite')?.invalid && getFormFiledsValue('categorieCapacite')?.errors?.['required']"
    >
      Ce champ est obligatoire
    </small>
  </div>

  <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
    <button type="submit" [disabled]="!formulaireGroup.valid" class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
  </div>

  
</form>
    </div>
