li {
  border-top: 1px solid #5a5858;
  padding: 2px 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  &.activePosologie {
    color: orange;
  }
}

b {
  color: #9f9fff;
  font-size: 12px;
  margin-bottom: 11px;
  display: block;
}

.custom_btn_primary {
  margin-left: 10px;
}
