.paiment-container {
    padding-top: 15px;
    min-height: 65vh;
    .info-paiement-container {
        padding: 15px;

        b {
            font-weight: bold;
            color: var(--dark-color);
        }
    }
}

::ng-deep .cdk-overlay-container {
    position: fixed;
    z-index: 10000;
}

.text-align-center {
    text-align: center;
}

.new-paiement-bilan {
    position: absolute;
    z-index: 1000;
    width: 90%;
    height: 0px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    left: 10%;
    transition: height 500ms ease-in-out;
    animation: rotation 2s;
    overflow: hidden;
    // border: 1px solid #4e4f4f;
    // box-shadow: 1px 2px 1px 0px #eceeee;

    &.open-details {
        height: 90%;
        border: 1px solid #eceeee;
        box-shadow: -4px -4px 8px 1px #878787;

        .details-body {
           padding: 30px;
           box-shadow: 1px 2px 0px 1px #eceeee;
           max-height: calc(100% - 40px);
           overflow: auto;
           .file-part {
                border: 2px dashed #eceeee;
                border-radius: 5px;
                padding: 10px;
           }
        }
    }

    .details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #c7c4c4;

        b {
            font-weight: bold;
            color: #000;
        }

    }
}

.header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}