<div class="container p-0 mb-4" style="border:2px solid #ffc20f; border-radius: 0;background-color: #ffc20f !important;">
    <button type="button" class="btn btn-light rounded-0 cls-indent-sinis1" style="width: 50%;" id="Config1"
            aria-controls="collapseBasic" (click)="selectTab(1,isModification)"> Identification du sinistre
    </button>
    <button type="button" class="btn btn-light rounded-0 cls-indent-sinis2"  style="width: 50%;" id="Config2"
       aria-controls="collapseBasic" (click)="selectTab(2,isModification)"> Documents
    </button>
    <!--{{isActive}}-->
</div>
 
<div  *ngIf="staticTabs == 1">
    <app-creation-sinistre [itemCreationSinistre]="itemSinistre" (closeModal) ="closeFormModal($event)"
       (step2)="receiveStep1($event)"  [isActiveCreationSinistre]="isActive"></app-creation-sinistre>
</div>
<div  *ngIf="staticTabs == 2">
    <app-creation-document-sinistre (step1)="precedent($event)" [itemCreationSinistre]="itemSinistre" [isActiveCreationSinistre]="isActive"
    [idSinistreInDoc]="idSinistre" (closeModal) ="closeFormModal($event)"></app-creation-document-sinistre>
</div>
