<div class="repartition-container" [ngBusy]="{
    busy: busySave,
    message: 'Veuillez patienter ...',
    backdrop: false
  }">
    <form name="form-repartition" (ngSubmit)="confirmSaveItem()">

        <div class="row">
            <div class="col-12">
                <fieldset>
                    <legend>
                        Informations sur l'affaire
                    </legend>

                    <div>
                        <app-details-information-identification [currentRepartitionTaux]="repartitionBesoinFac"></app-details-information-identification>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row mt-3 mb-3">

            <div class="col-md-6 col-xs-12">
                <div class="row">

                    <div class="col-12 mt-3 mb-3">
                        <fieldset>
                            <legend>
                                Part filiale
                            </legend>

                            <div class="row">

                                <div class="col-md-6 col-xs-12 mb-3">
                                    <label>Capitaux :
                                        <span class="required_champs">*</span>
                                    </label>
                                    <input class="form-control custom-input" placeholder="Capitaux" autocomplete="off"
                                        [(ngModel)]="itemToSave.repCapital" [disabled]="isDetails" name="repCapital" mask="separator" (keyup)="getRepartionByCapital()"
                                        type="text" />
                                    <!-- <small class="text-danger"
                                        *ngIf="(getFormFiledsValue('repCapital')?.dirty || getFormFiledsValue('repCapital')?.touched) && getFormFiledsValue('repCapital')?.invalid && getFormFiledsValue('repCapital')?.errors?.['required']">
                                        Ce champs est obligatoire
                                    </small> -->
                                </div>

                                <div class="col-md-6 col-xs-12 mb-3">
                                    <label>Taux (%) :
                                    </label>
                                    <input class="form-control custom-input" placeholder="Taux" autocomplete="off"  [disabled]="isDetails" 
                                        [(ngModel)]="itemToSave.repTaux" name="repTaux" maxlength="3" (keyup)="getRepartionByTaux()"
                                        type="text" />
                                    <!-- <small class="text-danger"
                                        *ngIf="(getFormFiledsValue('repTaux')?.dirty || getFormFiledsValue('repTaux')?.touched) && getFormFiledsValue('repTaux')?.invalid && getFormFiledsValue('repTaux')?.errors?.['required']">
                                        Ce champs est obligatoire
                                    </small> -->
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="col-12 mt-3 mb-3">
                        <fieldset>
                            <legend>
                                Informations cessions legales
                            </legend>

                            <div class="row">

                                <div class="col-12 table-responsive">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr class="custom-table-head">
                                                <th>Libellé</th>
                                                <th>Capitaux</th>
                                                <th>Part (%)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
 
                                        <tbody>
                                            <tr *ngFor="let cession of listeParametreCessionsLegale; let idx=index" [class.inactif]="!cession.checked">
                                                <td>{{cession?.paramCesLegLibelle}}</td>
                                                <td> 
                                                    <input class="form-control custom-input" 
                                                    [ngModelOptions]="{standalone: true}"
                                                    [disabled]="true"
                                                    [(ngModel)]="cession.repCapital" (keyup)="getRepartionCessionByCapital(cession)"
                                                    placeholder="Capital" autocomplete="off"
                                                        name="capCessionFormArray" mask="separator"  />
                                                </td>
                                                <td>
                                                    <input class="form-control custom-input" 
                                                    [(ngModel)]="cession.repTaux"
                                                    [disabled]="true"
                                                    [ngModelOptions]="{standalone: true}"
                                                        placeholder="Taux" autocomplete="off"
                                                        (keyup)="getRepartionCessionByTaux(cession)"
                                                            name="tauxFrmArray" mask="separator"/>
                                                </td>
                                                <td>
                                                    <input type="checkbox"
                                                    [(ngModel)]="cession.checked"
                                                    [disabled]="isDetails"
                                                    [ngModelOptions]="{standalone: true}" name="checked"/>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="col-12 mt-3">
                        <fieldset>
                            <legend>
                                Cession FAC
                            </legend>

                            <div class="row">

                                <div class="col-md-6 col-xs-12 mb-3">
                                    <label>Besoin FAC :
                                        <span class="required_champs">*</span>
                                    </label>
                                    <input class="form-control custom-input" 
                                    [(ngModel)]="itemToSave.besoinFacInitial"
                                    placeholder="Besoin FAC" autocomplete="off"
                                        name="besoinFacRes" mask="separator" [disabled]="true" [readonly]="true" />
                                </div>

                                <div class="col-md-6 col-xs-12 mb-3">
                                    <label>Taux (%) :
                                    </label>
                                    <input class="form-control custom-input" placeholder="Taux" autocomplete="off"
                                    [(ngModel)]="itemToSave.repTauxBesoinFac"  [disabled]="isDetails" 
                                         name="repTauxBesoinFacCessionLegal" (keyup)="getRepartionByTauxBesoinFac()"
                                        type="text" />
                                    <!-- <small class="text-danger"
                                        *ngIf="(getFormFiledsValue('repTauxBesoinFac')?.dirty || getFormFiledsValue('repTauxBesoinFac')?.touched) && getFormFiledsValue('repTauxBesoinFac')?.invalid && getFormFiledsValue('repTauxBesoinFac')?.errors?.['required']">
                                        Ce champs est obligatoire
                                    </small> -->
                                </div>

                            </div>
                        </fieldset>
                    </div>


                </div>

            </div>

            <div class="col-md-6 col-xs-12 mt-3">
                <fieldset>
                    <legend>
                        Repartition traitée
                    </legend>

                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr class="custom-table-head">
                                        <th></th>
                                        <th>Capitaux</th>
                                        <th>Part (%)</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Retention</td>
                                        <td>
                                            <input class="form-control custom-input" placeholder="Capital"
                                                autocomplete="off" mask="separator" type="text" />
                                        </td>
                                        <td>
                                            <input class="form-control custom-input" placeholder="Part (%)"
                                                autocomplete="off" mask="separator" type="text" />
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>Traité XL</td>
                                        <td>
                                            <input class="form-control custom-input" placeholder="Capital"
                                                autocomplete="off" mask="separator" type="text" />
                                        </td>
                                        <td>
                                            <input class="form-control custom-input" placeholder="Part (%)"
                                                autocomplete="off" mask="separator" type="text" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Traité Facob</td>
                                        <td>
                                            <input class="form-control custom-input" placeholder="Capital"
                                                autocomplete="off" mask="separator" type="text" />
                                        </td>
                                        <td>
                                            <input class="form-control custom-input" placeholder="Part (%)"
                                                autocomplete="off" mask="separator" type="text" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>


        <div class="custom-btn-save-manager" *ngIf="!isDetails">
            <button
              type="submit"
              class="btn btn-md custom_btn_primary pull-right"
              
            >
              {{ (itemToUpdate?.affId || isUpdateRepartition) ? 'Modifier' : 'Enregistrer et continuer'}}
            </button>
      
            <button
              type="button"
              class="btn btn-md btn-cancel pull-right"
              (click)="gotoPreviousStep()" *ngIf="isWizardProcess"
            >
              Précedent
            </button>
          </div>

    </form>
</div>