.scrolleur{
    height: 390px;
    overflow: auto;
}

.cls-card {
    background-color: #766f6f !important;
    color: #ffffff !important;
    border-color: #d3d9d9 !important;
}

.graph-card-body {
    // padding: 1rem;
    // width: 100%;
    // height: inherit;
    overflow: auto !important;
}

