<div class="sinistre-creer-container"
  [ngBusy]="{
    busy: busySave,
    message: 'Veuillez patienter ...',
    backdrop: false
  }"
>
  <fieldset class="mb-4"  *ngIf="affDetail && sinistre.value.affId">
    <legend > Information sur l'affaire</legend>

      <div class="row gy-2 p-3">
        <div class="col-6">
            <label for="inputEmail3" class="col-sm-2 fw-normal">N° affaire</label>
            <label for="inputEmail3" class="col-sm-10 w-bold"> {{affDetail?.affCode}}</label>
        </div>
        <div class="col-6">  
          <label for="inputEmail1" class="col-sm-4 fw-normal">Montant</label>
          <label for="inputEmail1" class="col-sm-8 w-bold"> {{affDetail?.facSmpLci | moneyFormat}}</label>
        </div>
        <div class="col-6">
          <label for="inputEmail" class="col-sm-2 fw-normal">Filiale</label>
          <label for="inputEmail" class="col-sm-10 w-bold"> {{affDetail?.couLibelle}}</label>
        </div>
        <div class="col-6">
          <label for="inputEmail1" class="col-sm-4 fw-normal">Capitaux à 100%</label>
          <label for="inputEmail1" class="col-sm-8 w-bold"> {{affDetail?.facCapitaux | moneyFormat}}</label>
        </div>
        <div class="col-6">
          <label for="inputEmail1" class="col-sm-2 fw-normal">Assuré</label>
          <label for="inputEmail1" class="col-sm-10 w-bold"> {{affDetail?.affCode}}</label>
        </div> 
        <div class="col-6">
          <label for="inputEmail1" class="col-sm-4 fw-normal">Date d'effet</label>
          <label for="inputEmail1" class="col-sm-8 w-bold"> {{affDetail?.affDateEffet}}</label>
        </div>
        <div class="col-6">      
          <label for="inputEmail1" class="col-sm-2 fw-normal">Activites</label>
          <label for="inputEmail1" class="col-sm-10 w-bold"> {{affDetail?.affActivite}}</label>
        </div>   
        <div class="col-6">
          <label for="inputEmail1" class="col-sm-4 fw-normal">Date d'échéance</label>
          <label for="inputEmail1" class="col-sm-8 w-bold"> {{affDetail?.affDateEffet}}</label>
        </div>
        
      </div>
  </fieldset>

  <form [formGroup]="sinistre" (ngSubmit)="confirmSaveItem()">
  <fieldset class=" mb-3">
      <legend> Informations sur le sinistre</legend>
              <div class="row p-3">
                  
                  <div class="col-md-12 col-xs-12 mb-3">
                  <label>Affaire :</label>
                    <ng-select 
                        name="affaireName" 
                        id="affaireId"
                        [readonly]="isActiveCreationSinistre"
                        notFoundText="Aucune donnée"
                        placeholder="Ex : Affaire N° XX XX"
                        [items]="listeAffaires"
                        bindLabel="affActivite"
                        (change)="affaireDetail()"
                        bindValue="affId"
                        formControlName="affId" [class.errorInputForm]="
                        getFormFiledsValue('affId')?.invalid &&
                        getFormFiledsValue('affId')?.touched
                      ">
                    </ng-select>
                    <small
                    class="text-danger"
                    *ngIf="(getFormFiledsValue('affId')?.dirty || getFormFiledsValue('affId')?.touched) && getFormFiledsValue('affId')?.invalid && getFormFiledsValue('affId')?.errors?.['required']"
                  >
                    Ce champs est obligatoire
                  </small>
                  </div>
                  <div class="col-md-6 col-xs-12 mb-3">
                      <label>Montant :
                      </label>
                      <input
                      class="form-control custom-input"
                      placeholder="10 000 000 000"
                      autocomplete="off"
                      formControlName="sinMontant100"
                      name="sinMontant100"
                      [readonly]="isActiveCreationSinistre"
                      type="text" 
                      mask="separator" thousandSeparator=" " 
                      [class.errorInputForm]="
                        getFormFiledsValue('sinMontant100')?.invalid &&
                        getFormFiledsValue('sinMontant100')?.touched
                      "
                      />
                      <small
                      class="text-danger"
                      *ngIf="(getFormFiledsValue('sinMontant100')?.dirty || getFormFiledsValue('sinMontant100')?.touched) && getFormFiledsValue('sinMontant100')?.invalid && getFormFiledsValue('sinMontant100')?.errors?.['required']"
                    >
                      Ce champs est obligatoire
                    </small>
                  </div>
                  <div class="col-md-6 col-xs-12 mb-3">
                      <label>Date de survenance :
                      </label>
                      <input
                      class="form-control custom-input"
                      placeholder="02/01/2023"
                      autocomplete="off"
                      [readonly]="isActiveCreationSinistre"
                      formControlName="sinDateSurvenance"
                      [bsConfig]="{ isAnimated: true ,dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}"
                      bsDatepicker
                      (ngModelChange)="formatDateSurvenance($event)"
                      name="sinDateSurvenance"
                      type="text"
                      [class.errorInputForm]="
                      getFormFiledsValue('sinDateSurvenance')?.invalid &&
                      getFormFiledsValue('sinDateSurvenance')?.touched"
                      />
                      <small
                      class="text-danger"
                      *ngIf="(getFormFiledsValue('sinDateSurvenance')?.dirty || getFormFiledsValue('sinDateSurvenance')?.touched) && getFormFiledsValue('sinDateSurvenance')?.invalid && getFormFiledsValue('sinDateSurvenance')?.errors?.['required']"
                    >
                      Ce champs est obligatoire
                    </small>
                  </div>
                  <div class="col-md-6 col-xs-12 mb-3">
                      <label>Montant honoraire :
                      </label>
                      <input
                      class="form-control custom-input"
                      placeholder="50 000 000"
                      autocomplete="off"
                      formControlName="sinMontantHonoraire" 
                      name="honoraire"
                      type="text"  
                      [readonly]="isActiveCreationSinistre"
                      mask="separator" thousandSeparator=" " 
                      [class.errorInputForm]="
                      getFormFiledsValue('sinMontantHonoraire')?.invalid &&
                      getFormFiledsValue('sinMontantHonoraire')?.touched"
                      />
                      <small
                      class="text-danger"
                      *ngIf="(getFormFiledsValue('montantHoraire')?.dirty || getFormFiledsValue('montantHoraire')?.touched) && getFormFiledsValue('montantHoraire')?.invalid && getFormFiledsValue('montantHoraire')?.errors?.['required']"
                    >
                      Ce champs est obligatoire
                    </small>
                  </div>
                  <div class="col-md-6 col-xs-12 mb-3">
                      <label>Date de declaration :
                      </label>
                      <input
                      class="form-control custom-input"
                      placeholder="10/01/2023"
                      autocomplete="off"
                      formControlName="sinDateDeclaration"
                      [bsConfig]="{ isAnimated: true ,dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}"
                      [maxDate]="maxDate"
                      bsDatepicker
                      (ngModelChange)="formatDateDeclaration($event)"
                      [readonly]="isActiveCreationSinistre"
                      name="honoraire"
                      type="text"
                      [class.errorInputForm]="
                      getFormFiledsValue('sinDateDeclaration')?.invalid &&
                      getFormFiledsValue('sinDateDeclaration')?.touched"
                      />
                      <small
                      class="text-danger"
                      *ngIf="(getFormFiledsValue('sinDateDeclaration')?.dirty || getFormFiledsValue('sinDateDeclaration')?.touched) && getFormFiledsValue('sinDateDeclaration')?.invalid && getFormFiledsValue('sinDateDeclaration')?.errors?.['required']"
                    >
                      Ce champs est obligatoire
                    </small>
                  </div>
                  <div class="col-md-12 col-xs-12"> 
                      <label>Description</label>
                      <!--[class.errorInputForm]="
                      getFormFiledsValue('sinCommentaire')?.invalid && getFormFiledsValue('sinCommentaire')?.touched"-->
                      <textarea  class="form-control custom-input" placeholder="Commentaire sur le sinistre" 
                      [readonly]="isActiveCreationSinistre" name="description" id="description" 
                      cols="15" rows="5" formControlName="sinCommentaire"></textarea>
                      <!-- <small
                      class="text-danger"
                      *ngIf="(getFormFiledsValue('sinCommentaire')?.dirty || getFormFiledsValue('sinCommentaire')?.touched) && getFormFiledsValue('sinCommentaire')?.invalid && getFormFiledsValue('sinCommentaire')?.errors?.['required']"
                    >
                      Ce champs est obligatoire
                    </small> -->
                  </div>
              </div>
  </fieldset>

  <div class="row justify-content-between" style="padding: 0 15px;">
      <div class="col-md-1">
          <button class="form-control btn btn-light p-2 border-0" type="button" (click)="fermer()">Fermer</button>
      </div>
      <div class="col-md-1">
          <button class="form-control border-0 text-white" 
              type="submit" style="background-color: #003362;border-radius: 3px;" [disabled]="!sinistre.valid">
              <span *ngIf="itemCreationSinistre?.sinId">Modifier</span>
              <span *ngIf="!itemCreationSinistre?.sinId">Suivant</span>
            
          </button>
      </div>
  </div>

  </form>

</div>

 