.cls-indent-sinis{
    background-color: #ffc20f;
    color: #fff;
    border-color: #ffc20f;

    // font-weight: bolder;
}

.sinistre-creer-container{
    // border: 1px dashed var(--grey-color);
    // padding: 10px;
    // border-radius: 5px;
    margin-top: 15px;
}

input::placeholder {
    text-align: end;
}

::ng-deep .cdk-overlay-container {
    position: fixed;
    z-index: 10000;
  }