<form [formGroup]="formulaireGroup" (ngSubmit)="confirmSaveItem(formulaireGroup.value)">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
        <label>Cédante : <span class="required_champs">*</span> </label>
        <ng-select
          name="cedanteTraiteId"
          id="cedanteTraiteId"
          formControlName="cedanteTraiteId"
          [class.errorInputForm]="
                    getFormFiledsValue('cedanteTraiteId')?.invalid &&
                    getFormFiledsValue('cedanteTraiteId')?.touched
                  ">
          <ng-option
            *ngFor="let cedante of listeCedantes"
            [value]="cedante?.cedanteTraiteId"
            >{{ cedante.cedNomFiliale }}</ng-option
          >
        </ng-select>
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('cedanteTraiteId')?.dirty || getFormFiledsValue('cedanteTraiteId')?.touched) && getFormFiledsValue('cedanteTraiteId')?.invalid && getFormFiledsValue('cedanteTraiteId')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>
   
      <div class="col-md-12 col-xs-12 col-sm-12 mb-1">
        <label>Couverture : <span class="required_champs">*</span> </label>
        <ng-select
          name="risqueId"
          id="risqueId"
          formControlName="risqueId"
          [class.errorInputForm]="
                    getFormFiledsValue('risqueId')?.invalid &&
                    getFormFiledsValue('risqueId')?.touched
                  ">
          <ng-option
            *ngFor="let couv of listeCouvertures"
            [value]="couv?.risqueId"
            >{{ couv.couLibelle }}</ng-option
          >
        </ng-select>
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('risqueId')?.dirty || getFormFiledsValue('risqueId')?.touched) && getFormFiledsValue('risqueId')?.invalid && getFormFiledsValue('risqueId')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>

      <div class="col-md-12 col-xs-12 mb-1">
        <label
          >Montant :
          <span class="required_champs">*</span>
        </label>
        <input
          class="form-control custom-input"
          placeholder=""
          autocomplete="off"
          name="limSousMontant"
          id="limSousMontant"
          type="text"
          formControlName="limSousMontant"
          [class.errorInputForm]="
                    getFormFiledsValue('limSousMontant')?.invalid &&
                    getFormFiledsValue('limSousMontant')?.touched
                  "
        />
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('limSousMontant')?.dirty || getFormFiledsValue('limSousMontant')?.touched) && getFormFiledsValue('limSousMontant')?.invalid && getFormFiledsValue('limSousMontant')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>
    
      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <button type="submit" [disabled]="!formulaireGroup.valid" class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
      </div>
    </div>
</form>
