<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-3">
                        <h2><strong>Affaire facultatives</strong></h2>
                    </div>

                    <div class="body">
                        <mat-tab-group>
                            <mat-tab label="Demande de placement">
                                <ng-template matTabContent>
                                        <div class="header-btn-new-affaire">
                                            <button type="button" class="btn btn-md custom_btn_primary pull-right" (click)="openModal(templateNewBusiness)"
                                            >
                                            <i class="fa fa-plus"></i>&nbsp; Nouvelle affaire
                                        </button>
                                        </div>
                                        <app-list-affaires-facultatives [statutAffaire]="statutAffaire?.SAISIE"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab>

                            <mat-tab label="Déclaration de sinistre">
                                <ng-template matTabContent>
                                    <app-list-affaires-facultatives [statutAffaire]="statutAffaire?.PLACE"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab>

                            <!-- <mat-tab label="Affaires archivées">
                                <ng-template matTabContent>
                                    <app-list-affaires-facultatives [statutAffaire]="statutAffaire?.ARCHIVE"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab> -->

                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Enregistrement template -->
<ng-template #templateNewBusiness>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
           Nouvelle affaire
        </h4>

        <button mat-icon-button class="pull-right" (click)="modalRef.hide()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
       <app-form-affaire-facultatives  (closeModal)="closeFormModal($event)"></app-form-affaire-facultatives>
    </div>
</ng-template>