<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-3">
                        <h2><strong>Affaires facultatives</strong></h2>
                    </div>
                    <div class="body">
                        <mat-tab-group>
                            <mat-tab label="En cours de saisie">
                                <ng-template matTabContent>
                                    <div class="header-btn-new-affaire">
                                        <button type="button" class="btn btn-md custom_btn_primary pull-right" appAppAccess appAccess="CRT-FAC"
                                            (click)="openModal(templateNewBusiness)">
                                            <i class="fa fa-plus"></i>&nbsp; Nouvelle affaire
                                        </button>
                                    </div> 
                                    <app-list-affaires-facultatives [endPoint]="user?.cedId ? 'affaires/facultative/by-cedante':'affaires/facultative/by-reassureur-en-traitement' "
                                        [refreshDataTable]="refreshDataTable"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="En cours de placement">
                                <ng-template matTabContent>
                                    <app-list-affaires-facultatives [endPoint]="user?.cedId ? 'affaires/facultative/by-cedante-transmis':'affaires/facultative/by-reassureur-en-placement' "
                                        [refreshDataTable]="refreshDataTable"  [noPutAction]="true" [isEnCoursPlacementNelson]="user?.cedId ? false : true"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab> 
                            <mat-tab label="En cours de règlement">
                                <ng-template matTabContent>
                                    <app-list-affaires-facultatives [endPoint]="user?.cedId ? 'affaires/facultative/by-cedante-en-reglement':'affaires/facultative/by-reassureur-en-reglement' "
                                        [refreshDataTable]="refreshDataTable"  [noPutAction]="true"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Historique">
                                <ng-template matTabContent>
                                    <app-list-affaires-facultatives [endPoint]="'affaires/facultative/all' "
                                        [refreshDataTable]="refreshDataTable" [noPutAction]="true"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Archives" >
                                <ng-template matTabContent>
                                    <app-list-affaires-facultatives [endPoint]="user?.cedId ? 'affaires/facultative/by-cedante-arch':'affaires/facultative/by-user-arch' "
                                        [refreshDataTable]="refreshDataTable" [noPutAction]="true"></app-list-affaires-facultatives>
                                </ng-template>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Enregistrement template -->
<ng-template #templateNewBusiness>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Ajout d'une nouvelle affaire facultative
        </h4>

        <button mat-icon-button class="pull-right" (click)="closeFormModal()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body p-4">
        <app-form-affaire-facultatives (closeModal)="closeFormModal($event)"></app-form-affaire-facultatives>
    </div>
</ng-template>
