.form-indentification-container {
    border: 1px dashed var(--grey-color);
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

::ng-deep .cdk-overlay-container {
    position: fixed;
    z-index: 10000;
  }