<div class="container-details">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Filiale/cédante :
            </b>
            <span>{{itemDetailsAffaire?.cedNomFiliale | uppercase}}</span>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Assuré :
            </b>
            <span>{{itemDetailsAffaire?.affAssure | uppercase}}</span>
        </div>



    </div>

    <div class="row">

        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Activité :
            </b>
            <span>{{itemDetailsAffaire?.affActivite}}</span>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Branche :
            </b>
            <span>{{itemDetailsAffaire?.couLibelle}}</span>
        </div>
    </div>

    <div class="row" *ngIf="currentRepartitionTaux && currentRepartitionTaux?.capital && !isPlacement">
        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Capital à 100%:
            </b>
            <span>{{currentRepartitionTaux?.capital | moneyFormat}}</span>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Bésoin fac  :
            </b>
            <span>{{currentRepartitionTaux?.besoinFacRestant | moneyFormat}}</span>
        </div>
    </div>

    <div class="row" *ngIf="isPlacement">
        <div class="col-md-4 col-xs-12 col-sm-12 mb-2">
            <b>Capital à 100%:
            </b>
            <span>{{detailsPlacement?.affCapitalInitial | moneyFormat}}</span>
        </div>

        <div class="col-md-4 col-xs-12 col-sm-12 mb-2">
            <b>Déjà repartir  :
            </b>
            <span>{{detailsPlacement?.capitalDejaReparti | moneyFormat}}</span>
        </div>

        <div class="col-md-4 col-xs-12 col-sm-12 mb-2">
            <b>Bésoin fac  :
            </b>
            <span>{{detailsPlacement?.restARepartir | moneyFormat}}</span>
        </div>
    </div>

</div>