<div class="container-details">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Filiale/cédante :
            </b>
            <span>Libelle de la filiale</span>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Activité :
            </b>
            <span>Activité libellé</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Assuré :
            </b>
            <span>Nom de l'assuré</span>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12 mb-2">
            <b>Couverture :
            </b>
            <span>Couverture libellé </span>
        </div>
    </div>

</div>