<ng-container>
  <div class="container-table table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th colspan="8" class="text-align-center">
            <b>{{ title }}</b>
          </th>
        </tr>
        <tr class="custom-table-head">
          <th>#</th>
          <th>Cessionnaire</th>
          <th>Interlocuteur</th>
          <th>Capital</th>
          <th>Part(%)</th>
          <th>Taux Com. court</th>
          <th>S/C</th>
          <th style="text-align: center" *ngIf="!isDetails">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let repart of listeRepartitions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ repart?.cesNom }}</td>
          <td>{{ repart?.repInterlocuteur }}</td>
          <td>{{ repart?.repCapital | moneyFormat }}</td>
          <td>{{ repart?.repTaux }}</td>
          <td>{{ repart?.repTauxComCourt | moneyFormat }}</td>
          <td>{{ repart?.repSousCommission | moneyFormat }}</td>
          <td style="text-align: center" *ngIf="!isDetails">
            <ng-container *ngIf="!canPutAction && !isEnAttenteTab && !isValidateOnglet">
              <a
                title="Imprimer"
                style="color: rgb(240, 180, 29); cursor: pointer"
                (click)="getReportPlacement(repart.repId)"
              >
                <i class="fa fa-print"></i> </a
              >&nbsp;&nbsp;

              <a
                title="Supprimer"
                (click)="confirmDeletePlacement(repart)"
                style="color: red; cursor: pointer"
              >
                <i class="fa fa-trash"></i>
              </a>
            </ng-container>

            <ng-container  *ngIf="isValidationPlacement">
              <div 
            >
              <div class="custom-td-action">
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-custom-action-dropdown"
                    id="action"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div
                    ngbDropdownMenu
                    aria-labelledby="action"
                    class="dropdown-validation-plainte"
                  >
                    <button
                      type="button"
                      ngbDropdownItem
                      (click)="openPanelNewPlacement(true, repart,true)"
                    >
                      <i class="fa fa-redo-alt"></i>&nbsp;Retourner
                    </button>

                    <button ngbDropdownItem (click)="confirmValidation(repart)">
                      <i class="fa fa-check"></i>&nbsp;Valider
                    </button>

                    <button
                      type="button"
                      ngbDropdownItem
                      (click)="getReportPlacement(repart.repId)"
                    >
                      <i class="fa fa-print"></i>&nbsp;Imprimer note de cession
                    </button>
                  </div>
                </div>
              </div>
            </div>
            </ng-container>
         

            <ng-container *ngIf="canPutAction">
              <div class="custom-td-action">
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-custom-action-dropdown"
                    id="action"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div
                    ngbDropdownMenu
                    aria-labelledby="action"
                    class="dropdown-validation-plainte"
                  >
                    <button
                      ngbDropdownItem
                      (click)="gotoUpdatePlacement(repart)"
                    >
                      <i class="fa fa-edit"></i>&nbsp;Modifier
                    </button>

                    <!-- <button
                      ngbDropdownItem
                      (click)="confirmAccepterPlacement(repart)"
                    >
                      <i class="fa fa-check"></i>&nbsp;Accepter
                    </button> -->

                    <button
                      type="button"
                      ngbDropdownItem
                      (click)="confirmTransmissionPlacement(repart)"
                    >
                      <i class="fa fa-share"></i>&nbsp;Transmettre
                    </button>

                    <button
                      type="button"
                      ngbDropdownItem
                      (click)="openPanelNewPlacement(true, repart)"
                    >
                      <i class="fa fa-trash"></i>&nbsp;Réfuser
                    </button>

                    <button
                      type="button"
                      ngbDropdownItem
                      (click)="confirmDeletePlacement(repart)"
                    >
                      <i class="fa fa-trash"></i>&nbsp;Supprimer
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container
            *ngIf="isValidateOnglet"
          >
            <div class="custom-td-action">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-custom-action-dropdown"
                  id="action"
                  ngbDropdownToggle
                >
                  Actions
                </button>
                <div
                  ngbDropdownMenu
                  aria-labelledby="action"
                  class="dropdown-validation-plainte"
                >

                <button ngbDropdownItem (click)="confirmSendNoteCession(repart)">
                    <i class="fa fa-check"></i>&nbsp;Envoyer note cession
                  </button>

                  <button
                    type="button"
                    ngbDropdownItem
                    (click)="getReportPlacement(repart.repId)"
                  >
                    <i class="fa fa-print"></i>&nbsp;Imprimer note de cession
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          </td>
        </tr>

        <tr *ngIf="!listeRepartitions || listeRepartitions.length == 0">
          <td colspan="8" class="text-align-center">
            Aucune donnée disponible
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="refus-paiement" id="refus-paiement">
    <div class="details-header">
      <b> {{!itemRepartitionPlacement.isRetourPlacement ? 'Refus de placement' : 'Retour placement' }} </b>
      <i class="fa fa-times" (click)="openPanelNewPlacement(false)"></i>
    </div>

    <div class="col-12 details-body">
      <ng-container>
        <div class="row">
          <form class="form-refus">
            <div class="row">
              <div class="col-md-6 col-xs-12 mb-3">
                <label>Cessionnaire : </label>
                <input
                  class="form-control custom-input"
                  placeholder="Assuré"
                  autocomplete="off"
                  [(ngModel)]="itemRepartitionPlacement.cesNom"
                  name="affAssure"
                  [readonly]="true"
                  [disabled]="true"
                  type="text"
                />
              </div>

              <div class="col-md-6 col-xs-12 mb-3">
                <label>Interlocuteur : </label>
                <input
                  class="form-control custom-input"
                  placeholder="Assuré"
                  autocomplete="off"
                  [(ngModel)]="itemRepartitionPlacement.repInterlocuteur"
                  name="affAssure"
                  [readonly]="true"
                  [disabled]="true"
                  type="text"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-3">
                <label
                  >Motif :
                  <span class="required_champs">*</span>
                </label>

                <textarea
                  class="form-control custom-input"
                  name="affActivite"
                  [(ngModel)]="itemRefusPlacement.motif"
                  type="text"
                  id="affActivite"
                  rows="5"
                  placeholder="Motif"
                  autocomplete="off"
                ></textarea>
              </div>
            </div>

            <div class="custom-btn-save-manager">
              <button
                type="button"
                class="btn btn-md custom_btn_primary pull-right"
                (click)="confirmRefusRepartition(itemRepartitionPlacement)"
              >
              {{!itemRepartitionPlacement.isRetourPlacement ? 'Refuser' : 'Retourner' }}
              </button>

              <button
                type="button"
                class="btn btn-md btn-cancel pull-right"
                (click)="openPanelNewPlacement(false)"
              >
                Annuler
              </button>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
