<div class="row"
class="body table-responsive clsOverflow"
  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}"
>

  <form [formGroup]="formulaireGroup" (ngSubmit)="confirmSaveItem(formulaireGroup.value)">
    <div class="col-md-12 col-xs-12 mb-1">
      <label
        >Libelle :
        <span class="required_champs">*</span>
      </label>
      <input
        class="form-control custom-input"
        formControlName="terrLibelle"
        placeholder=""
        autocomplete="off"
        name="terrLibelle"
        type="text"
        [class.errorInputForm]="
        getFormFiledsValue('terrLibelle')?.invalid &&
        getFormFiledsValue('terrLibelle')?.touched
      ">
      <small
      class="text-danger"
      *ngIf="(getFormFiledsValue('terrLibelle')?.dirty || getFormFiledsValue('terrLibelle')?.touched) && getFormFiledsValue('terrLibelle')?.invalid && getFormFiledsValue('terrLibelle')?.errors?.['required']"
    >
      Ce champ est obligatoire
    </small>
    </div>

    <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <label>Organistaions : </label>

        <ng-select
          formControlName="orgCodes"
          [multiple]="true"
          (change)="getPays(formulaireGroup.value.orgCodes)"
          name="orgCodes"
          id="orgCodes"
          [class.errorInputForm]="
                getFormFiledsValue('orgCodes')?.invalid &&
                getFormFiledsValue('orgCodes')?.touched
              ">
          <ng-option
            *ngFor="let organistaions  of organisationListe"
            [value]="organistaions.organisationCode"
            >{{ organistaions.organisationCode }}</ng-option
          >
        </ng-select>
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('orgCodes')?.dirty || getFormFiledsValue('orgCodes')?.touched) && getFormFiledsValue('orgCodes')?.invalid && getFormFiledsValue('orgCodes')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <label>Pays : <span class="required_champs">*</span> </label>

          <ng-select
            formControlName="paysCodes"
            name="paysCodes"
            [multiple]="true"
            placeholder=""
            id="paysCodes"
            [class.errorInputForm]="
                  getFormFiledsValue('paysCodes')?.invalid &&
                  getFormFiledsValue('paysCodes')?.touched
                "
          >
            <ng-option
              *ngFor="let pays of paysListe"
              [value]="pays.paysCode"
              >{{ pays.paysNom }}</ng-option
            >
          </ng-select>
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('paysCodes')?.dirty || getFormFiledsValue('paysCodes')?.touched) && getFormFiledsValue('paysCodes')?.invalid && getFormFiledsValue('paysCodes')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>
      <div class="col-md-12 col-xs-12 mb-1">
        <label
          >Taux:
<!--          <span class="required_champs">*</span>-->
        </label>
        <input
          class="form-control custom-input"
          placeholder=""
          formControlName="terrTaux"
          autocomplete="off"
          name="affAssure"
          type="text"
          [class.errorInputForm]="
          getFormFiledsValue('terrTaux')?.invalid &&
          getFormFiledsValue('terrTaux')?.touched
        ">
<!--        <small-->
<!--        class="text-danger"-->
<!--        *ngIf="(getFormFiledsValue('terrTaux')?.dirty || getFormFiledsValue('terrTaux')?.touched) && getFormFiledsValue('terrTaux')?.invalid && getFormFiledsValue('terrTaux')?.errors?.['required']"-->
<!--      >-->
<!--        Ce champ est obligatoire-->
<!--      </small>-->
      </div>

      <div class="col-md-12 col-xs-12 mb-1">
        <label
          >Description :
          <span class="required_champs">*</span>
        </label>
        <textarea
        class="form-control custom-input"
        name="terrDescription"
        formControlName="terrDescription"
        type="text"
        id="terrDescription"
        cols="30" rows="10"
        placeholder=""
        autocomplete="off"
      ></textarea>
      <small
          class="text-danger"
          *ngIf="(getFormFiledsValue('terrDescription')?.dirty || getFormFiledsValue('terrDescription')?.touched) && getFormFiledsValue('terrDescription')?.invalid && getFormFiledsValue('terrDescription')?.errors?.['required']"
        >
          Ce champ est obligatoire
        </small>
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <button type="submit"  [disabled]="!formulaireGroup.valid"
                                        class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
      </div>
  </form>
    </div>
