<div class="row">

  <form [formGroup]="formulaireGroup" (ngSubmit)="confirmSaveItem(formulaireGroup.value)">

    <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <label>Organistaions : <span class="required_champs">*</span> </label>

        <ng-select
          formControlName="organisationLib"
          name="organisationLib"
          id="organisationLib"
          [class.errorInputForm]="
                getFormFiledsValue('organisationLib')?.invalid &&
                getFormFiledsValue('organisationLib')?.touched
              "
        >
          <ng-option
            *ngFor="let organistaions  of organisationListe"
            [value]="organistaions.organisationCode"
            >{{ organistaions.organisationCode }}</ng-option
          >
        </ng-select>
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('organisationLib')?.dirty || getFormFiledsValue('organisationLib')?.touched) && getFormFiledsValue('organisationLib')?.invalid && getFormFiledsValue('organisationLib')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>
 
      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <label>Pays : <span class="required_champs">*</span> </label>

        <ng-select
          formControlName="paysLibe"
          name="paysLibe"
          id="paysLibe"
          [class.errorInputForm]="
                getFormFiledsValue('paysLibe')?.invalid &&
                getFormFiledsValue('paysLibe')?.touched
              "
        >
          <ng-option
            *ngFor="let pays of paysListe"
            [value]="pays.content"
            >{{ pays.paysNom }}</ng-option
          >
        </ng-select>
        <small
        class="text-danger"
        *ngIf="(getFormFiledsValue('paysLibe')?.dirty || getFormFiledsValue('paysLibe')?.touched) && getFormFiledsValue('paysLibe')?.invalid && getFormFiledsValue('paysLibe')?.errors?.['required']"
      >
        Ce champ est obligatoire
      </small>
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12 mb-2">
        <button type="button"  [disabled]="!formulaireGroup.valid"
                                        class="btn btn-md custom_btn_primary pull-right">Enregistrer</button>
      </div>
  </form>
    </div>
